{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}

{% set page_title = "Response explorer" %}

{% block content %}

  <noscript>
    <p class="govuk-heading-s">{{ consultation_name }}</p>
    <p class="govuk-body">JavaScript is required to view this page</p>
  </noscript>

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "All consultations",
        "href": "/consultations",
      },
      {
        "text": "All questions",
        "href": "/consultations/" + consultation_slug
      }
    ]
  }) }}

<style>
  .govuk-main-wrapper {
    background: white;
  }
</style>

<iai-question-detail-page
  consultationSlug="{{ consultation_slug }}"
  questionSlug="{{ question_slug }}"
  questionText="Q{{ question.number }}: {{ question.text }}"
  questionId="{{ question.id }}"
  consultationTitle="{{ question.consultation_name }}"
></iai-question-detail-page>

{% endblock %}
