//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

:root {
  --iai-pink: #b62777;
}

.govuk-header__container {
  border-color: var(--iai-pink);
}
.govuk-phase-banner__content__tag {
  background-color: var(--iai-pink);
  color: white;
}
