//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

:root {
  --iai-pink: #b62777;
  --govuk-light-blue: #5694ca;
}

.govuk-header__container {
  border-color: var(--iai-pink);
}
.govuk-phase-banner__content__tag {
  background-color: var(--iai-pink);
  color: white;
}

/** START PAGE **/
.iai-key-finding {
  align-items: center;
  background-color: govuk-colour("light-grey");
  display: flex;
  padding: 1.25rem;
}
.iai-key-finding__chart {
  flex-shrink: 0;
  margin-right: 1.25rem;
  width: 5rem;
}

.iai-questions__item {
  background-color: govuk-colour("light-grey");
  list-style-type: none;
  padding: 1.25rem;
}
.iai-questions__links {
  display: flex;
  gap: 1.25rem;
}

/** QUESTION OVERVIEW PAGE **/
.govuk-table__cell:has(.iai-bar) {
  padding: 0.25rem 0;
  vertical-align: middle;
}
.iai-bar {
  align-items: center;
  display: flex;
  height: 46px;
  position: relative;
  vertical-align: middle;
}
.iai-bar__value {
  padding: 0 0.25rem;
  position: relative;
  z-index: 10;
}
.iai-bar__bar {
  background-color: var(--govuk-light-blue);
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.3;
  position: absolute;
  top: 0;
}
.iai-bar__bar.animate {
  transition: width 1s;
}

/** QUESTION DETAIL PAGE **/
.iai-filters {
  background-color: govuk-colour("light-grey");
  padding: 1rem;
}
@media (min-width: 641px) {
  .iai-filters {
    max-width: 14rem;
  }
}
.iai-filters .govuk-form-group {
  /*margin-bottom: 1.5rem;*/
}