{% extends "base.html" %}

{% set page_title = "User details" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">{{ user.email }}</h1>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Created at</th>
            <td class="govuk-table__cell">
              {{ user.created_at }}
            </td>
          </tr>
        </tbody>
      </table>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          {{ render_form(form, request) }}
        </div>
      </div>

      <h2 class="govuk-heading-m">Consultations</h2>

      {% if consultations %}
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Consultation name</th>
              <th scope="col" class="govuk-table__header">Created at</th>
              <th scope="col" class="govuk-table__header">Links</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for consultation in consultations %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  {{ consultation.title }}
                </td>
                <td class="govuk-table__cell">
                  {{ datetime(consultation.created_at) }}
                </td>
                <td class="govuk-table__cell">
                  <a class="govuk-link" href="/support/consultations/{{ consultation.id }}">View in support</a><br />
                  <a class="govuk-link" href="/consultations/{{ consultation.slug }}">View on frontend</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p class="govuk-body">This user is not associated with any consultations</p>
      {% endif %}
    </div>
  </div>
{% endblock %}

