---
import { fetchBackendApi } from "../../../../global/api";

import type { AstroGlobalRuntime, Question } from "../../../../global/types";

import Layout from "../../../../layouts/Layout.astro";
import Section from "../../../../components/Section/Section.svelte";

import SignOffEditor from "../../../../components/theme-sign-off/question/SignOffEditor.svelte";
import SignOffComplete from "../../../../components/theme-sign-off/question/SignOffComplete.svelte";

const { consultationId, questionId } = (Astro as unknown as AstroGlobalRuntime)
  .params;
const question: Question = await fetchBackendApi(
  Astro,
  `/api/consultations/${consultationId}/questions/${questionId}`,
);
---

<Layout>
  <Section>
    {
      question?.theme_status === "confirmed" ? (
        <SignOffComplete
          client:only="svelte"
          consultationId={consultationId || ""}
          questionId={questionId || ""}
        />
      ) : (
        <SignOffEditor
          client:only="svelte"
          consultationId={consultationId || ""}
          questionId={questionId || ""}
          {question}
        />
      )
    }
  </Section>
</Layout>
