---
import Layout from "../../../../layouts/Layout.astro";

import ThemeSignOffArchive from "../../../../components/screens/ThemeSignOffArchive.svelte";
import Section from "../../../../components/Section/Section.svelte";

const { consultationId } = Astro.params;
---
<Layout>
    <Section>
        <ThemeSignOffArchive client:load consultationId={consultationId} />
    </Section>
</Layout>