---
import { fetchBackendApi } from "../../../../global/api";

import Layout from "../../../../layouts/Layout.astro";

import ThemeSignOffOverview from "../../../../components/theme-sign-off/overview/OverviewScreen.svelte";
import Section from "../../../../components/Section/Section.svelte";
import type {
  AstroGlobalRuntime,
  ConsultationResponse,
  QuestionsResponse,
} from "../../../../global/types";

const { consultationId } = (Astro as unknown as AstroGlobalRuntime).params;

const consultation: ConsultationResponse = await fetchBackendApi(
  Astro,
  `/api/consultations/${consultationId}/`,
);

const questionsResponse: QuestionsResponse = await fetchBackendApi(
  Astro,
  `/api/consultations/${consultationId}/questions/`,
);
---

<Layout>
  <Section>
    <ThemeSignOffOverview
      client:only="svelte"
      consultationId={consultationId || ""}
      {consultation}
      questions={questionsResponse.results}
    />
  </Section>
</Layout>
