---
import Layout from "../../../../layouts/Layout.astro";

import ThemeSignOffOverview from "../../../../components/theme-sign-off/overview/OverviewScreen.svelte";
import Section from "../../../../components/Section/Section.svelte";
import type { AstroGlobalRuntime } from "../../../../global/types";

const { consultationId } = (Astro as unknown as AstroGlobalRuntime).params;
---

<Layout>
  <Section>
    <ThemeSignOffOverview
      client:only="svelte"
      consultationId={consultationId || ""}
    />
  </Section>
</Layout>
