{% from "govuk/components/footer/macro.njk" import govukFooter %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

<!DOCTYPE html>
<html lang="en" class="govuk-template">

<head>
    <meta charset="utf-8">
    <title>{% if pageTitle %}{{pageTitle}} - {% endif %}Consultation analyser - GOV.UK Prototype Kit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c">
    <link rel="icon" sizes="48x48" href="/assets/images/favicon.ico">
    <link rel="icon" sizes="any" href="/assets/images/favicon.svg" type="image/svg+xml">
    <link rel="mask-icon" href="/assets/images/govuk-icon-mask.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" href="/assets/images/govuk-icon-180.png">
    <link rel="stylesheet" href="/public/stylesheets/application.css">
</head>

<body class="govuk-template__body">
<script id="__bs_script__">//<![CDATA[
        (function() {
          try {
            var script = document.createElement('script');
            if ('async') {
              script.async = true;
            }
            script.src = '/browser-sync/browser-sync-client.js?v=2.29.3'.replace("HOST", location.hostname);
            if (document.body) {
              document.body.appendChild(script);
            } else if (document.head) {
              document.head.appendChild(script);
            }
          } catch (e) {
            console.error("Browsersync: could not append script tag", e);
          }
        })()
      //]]>
</script>
<script>
    document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
</script>
<a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>

{{ govukHeader({
  homepageUrl: "/",
  serviceName: "i.AI " + serviceName,
  serviceUrl: "/"
}) }}

<div class="govuk-width-container">
  {{ govukPhaseBanner({
    tag: {
    text: "Prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/GESFSF/">feedback</a> will help us to improve it.'
  }) }}
</div>

{#
,
  navigation: [
    {
      href: "/how-it-works",
      text: "How it works"
    },
    {
      href: "/how-it-works",
      text: "Data schema"
    },
    {
      href: "/how-it-works",
      text: "Data sharing"
    },
    {
      href: "/get-involved",
      text: "Get involved"
    },
    {
      href: "/prototype",
      text: "Sign in"
    }
  ]
#}

{% set topNavLinks = [
    {text: "Home", url: "/"},
    {text: "How it works", url: "/how-it-works"},
    {text: "Data schema", url: "/data-schema"},
    {text: "Data sharing", url: "/data-sharing"},
    {text: "Get involved", url: "/get-involved"},
    {text: "Sign in", url: "/sign-in"}
  ]
%}

{% set currentPage = pageTitle %}
{% if currentPage == "" %}
  {% set currentPage = "Home" %}
{% endif %}

<nav class="x-govuk-primary-navigation" aria-labelledby="primary-navigation-heading">
  <div class="govuk-width-container">
    <h2 class="govuk-visually-hidden" id="primary-navigation-heading">Navigation</h2>
    <ul class="x-govuk-primary-navigation__list">
      {% for link in topNavLinks %}
        <li class="x-govuk-primary-navigation__item {% if currentPage == link.text %}x-govuk-primary-navigation__item--current {% endif %}">
          <a class="x-govuk-primary-navigation__link" {% if currentPage == link.text %}aria-current="page"{% endif %} href="{{link.url}}">{{link.text}}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>

<main class="govuk-main-wrapper" id="main-content" role="main">
    {% block content %}{% endblock %}
</main>

{{ govukFooter({
  navigation: [
    {
      title: "About Consultation analyser",
      width: "one-half",
      items: [
        {
          href: "/how-it-works",
          text: "How it works"
        },
        {
          href: "/data-schema",
          text: "Data schema"
        },
        {
          href: "/data-sharing",
          text: "Data sharing"
        },
        {
          href: "/user-research",
          text: "User research"
        },
        {
          href: "/sign-in",
          text: "Sign in"
        },
        {
          href: "/prototype",
          text: "Prototype"
        }
      ]
    },
    {
      title: "Contact",
      width: "one-half",
      items: [
        {
          href: "#form-link-needed",
          text: "Register your interest"
        },
        {
          href: "#slack-link-needed",
          text: "Chat to us on Slack"
        },
        {
          href: "#blog-link-needed",
          text: "Blog"
        }
      ]
    }
  ],
  meta: {
    items: [
      {
        href: "/privacy",
        text: "Privacy"
      },
      {
        href: "/accessibility",
        text: "Accessibility"
      },
      {
        href: "/sitemap",
        text: "Sitemap"
      }
    ],
    html: 'Built by <a href="https://ai.gov.uk">Incubator for Artificial Intelligence (i.AI)</a>'
  }
}) }}


<script src="/plugin-assets/govuk-prototype-kit/lib/assets/javascripts/kit.js"></script>
<script src="/plugin-assets/govuk-prototype-kit/lib/assets/javascripts/auto-store-data.js"></script>
<script type="module" src="/plugin-assets/govuk-frontend/dist/govuk/govuk-frontend.min.js"></script>
<script type="module" src="/plugin-assets/govuk-frontend/dist/govuk-prototype-kit/init.js"></script>

</body>

</html>
