AWS_BUCKET_NAME="i-dot-ai-dev-consult-data"
PUBLIC_BACKEND_URL="http://localhost:8000"
PUBLIC_LANGFUSE_URL="/"
PUBLIC_ENVIRONMENT=local
PUBLIC_HOMEPAGE_URL="http://localhost:3000"
PUBLIC_DATA_SETUP_V2_ENABLED="true"
SENTRY_AUTH_TOKEN=""
SENTRY_RELEASE=""
