$govuk-assets-path: "govuk-assets/";
$govuk-font-family: sans-serif;

$iai-colour-pink: #C50878;

@import "node_modules/govuk-frontend/dist/govuk/all";
@import "node_modules/@x-govuk/govuk-prototype-components/x-govuk/all";

.govuk-header__container {
    border-color: $iai-colour-pink;
}
.govuk-phase-banner__content__tag {
    background-color: $iai-colour-pink;
    color: white;
}

.iai-header {
    border-bottom: 0;
}
.iai-header .iai-phase-banner {
    background-color: white;
    padding-top: 10px;
}
.iai-header .govuk-phase-banner {
    border-bottom: 0;
}
.iai-header .x-govuk-primary-navigation__link:hover {
    /*color: $iai-colour-pink !important;*/
    /*text-decoration: none;*/
}

.iai-header + .govuk-main-wrapper:has(.x-govuk-masthead) {
    padding-top: 0;
}

.govuk-link.govuk-link--warning {
  color: $govuk-error-colour;

  &:visited {
    color: $govuk-error-colour;
  }
}

/* HOMEPAGE */

.x-govuk-masthead {
    width: 100%;
}
.x-govuk-masthead--pink {
    background-color: $iai-colour-pink;
}
.x-govuk-masthead--pink .govuk-phase-banner {
    border-bottom-color: white;
}
.x-govuk-masthead--pink .govuk-tag {
    background-color: white;
    color: $iai-colour-pink;
}
.x-govuk-masthead--pink .govuk-button {
    box-shadow: 0 2px 0 govuk-colour("dark-grey");
    color: $iai-colour-pink;
}
.x-govuk-primary-navigation__link {
    color: govuk-colour("dark-grey") !important;
}
.x-govuk-primary-navigation__item--current {
    border-bottom-color: govuk-colour("dark-grey");
}

.iai-processlist {
    padding: 0;
}
.iai-processlist__item {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 3rem 0;
}
.iai-processlist__item svg {
    color: $iai-colour-pink;
    width: 5rem;
}
.iai-processlist__text {
    margin-left: 1.5rem;
}


/** QUESTION SUMMARY PAGE **/

.govuk-table__cell:has(.iai-bar) {
    padding: 0.25rem 0;
    vertical-align: middle;
}
.iai-bar {
    align-items: center;
    display: flex;
    height: 46px;
    position: relative;
    vertical-align: middle;
}
.iai-bar__value {
    padding: 0 0.25rem;
    position: relative;
    z-index: 10;
}
.iai-bar__bar {
    background-color: govuk-colour("light-blue");
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
}
.iai-bar__bar.animate {
    transition: width 1s;
}

.iai-inline-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.iai-inline-list__item {
    margin-left: 2rem;
}

/** CONSULTATION PAGE **/
.iai-key-finding {
    align-items: center;
    background-color: govuk-colour("light-grey");
    display: flex;
    padding: 1.25rem;
}
.iai-key-finding__chart {
    flex-shrink: 0;
    margin-right: 1.25rem;
    width: 5rem;
}

.iai-questions__item {
    background-color: govuk-colour("light-grey");
    list-style-type: none;
    padding: 1.25rem;
}
.iai-questions__links {
    display: flex;
    gap: 1.25rem;
}

/** RESPONSES PAGE **/

.iai-filters {
    background-color: govuk-colour("light-grey");
    padding: 1rem;
}
@media (min-width: 641px) {
    .iai-filters {
      max-width: 14rem;
    }
}
.iai-filters .govuk-form-group {
    /*margin-bottom: 1.5rem;*/
}

.iai-table-subhead {
    display: block;
    font-size: 1.125rem;
    font-weight: 100;
}
pre code {
  white-space: pre-wrap;
  font-size: 80%;
}


/** UPLOAD PAGE **/
.iai-error-list {
    list-style-type: disc;
    color: govuk-colour("red");
    font-weight: 700;
    padding-left: 1.25rem;
  }
.iai-label__additional-text {
    color: govuk-colour("dark-grey");
    display: block;
    font-size: 1rem;
    margin: 0.25rem 0;
}
