.git
.gitignore
.editorconfig

# Compiled files
**/.terraform/*
**/.terragrunt-cache/*
*.tfstate
*.tfstate.*

# Module directory
.terraform
**/.idea
**/*.iml

**/.build-harness
**/build-harness

frontend/CACHE
frontend/govuk-assets
frontend/admin
frontend/django_extensions

# Exclude themefinder non-production files from Docker builds
themefinder/evals/
themefinder/docs/
themefinder/tests/
themefinder/examples/
themefinder/architecture/
