ENVIRONMENT=local
DEBUG=True
DJANGO_SECRET_KEY=dummy-key
DATABASE_URL=psql://consultations_dev:@localhost:5432/consultations_dev
BATCH_JOB_QUEUE=dummy-queue
BATCH_JOB_DEFINITION=dummy-definition
GOVUK_NOTIFY_API_KEY=insert-test-key-here
GOVUK_NOTIFY_PLAIN_EMAIL_TEMPLATE_ID=insert-generic-template-id-here
AWS_REGION="eu-west-2"
