[tool.ruff]
line-length = 100
target-version = 'py312'

[tool.poetry]
name = "consultation-analyser"
version = "0.1.0"
description = ""
authors = ["i.AI <i-dot-ai-enquiries@cabinetoffice.gov.uk>"]
readme = "README.md"

[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "consultation_analyser.settings.test"
filterwarnings = [
  "ignore::django.utils.deprecation.RemovedInDjango51Warning:.*compressor.*",
  "ignore::pydantic.warnings.PydanticDeprecatedSince20",
  "ignore::FutureWarning:.*huggingface_hub.*",
  "ignore::SyntaxWarning:.*sentence_transformers.*",
]

[tool.poetry.dependencies]
python = "3.12.3"
django = "^5.0.7"
django-environ = "^0.11.2"
psycopg = "^3.2.1"
django-compressor = "^4.5"
django-libsass = "^0.9"
govuk-frontend-jinja = "^3.0.0"
pydot = "^3.0.1"
gunicorn = "^22.0.0"
whitenoise = "^6.7.0"
boto3 = "^1.34.153"
pydantic = "^2.8.2"
datamodel-code-generator = "^0.25.8"
langchain = "^0.2"
hdbscan = "^0.8.37"
sentence-transformers = "^3.0.1"
bertopic = "^0.16.2"
scikit-learn = "^1.5.1"
umap-learn = "^0.5.5"
scipy = "^1.14.0"
numpy = "^1.26.4"
django-types = "^0.19.1"
django-waffle = "^4.1.0"
django-magic-link = "^1.0.0"
django-crispy-forms = "^2.3"
crispy-forms-gds = "^0.3.1"
django-gov-notify = { git = "https://github.com/i-dot-ai/django-gov-notify", branch = "support-python-3-12" }
sentry-sdk = { extras = ["redis", "rq"], version = "^2.11.0" }
torch = "~2.2"
jsonschema = { extras = ["format"], version = "^4.23.0" }
tiktoken = "^0.7.0"
langchain-community = "^0.2.11"
ijson = "^3.3.0"
psutil = "^6.0.0"
langchain-aws = "^0.1.15"
pytest-random-order = "^1.1.1"
django-rq = "^2.10.2"
django-redis = "^5.4.0"
honcho = "^1.1.0"
django-storages = "^1.14.4"
djangorestframework = "^3.15.2"
drf-jsonschema-serializer = "^3.0.0"
djangorestframework-simplejwt = "^5.3.1"

[tool.poetry.group.development.dependencies]
ruff = "^0.5.6"
pre-commit = "^3.8.0"
factory_boy = "^3.3.0"
django-extensions = "^3.2.3"
mypy = "^1.11.0"

[tool.mypy]
files = '**/*.py'
exclude = ['^consultation_analyser/consultations/migrations/']




[tool.poetry.group.test.dependencies]
pytest-django = "^4.8.0"
django-webtest = "^1.9.11"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
