[tool.ruff]
line-length = 120
target-version = 'py310'

[tool.poetry]
name = "consultation-analyser"
version = "0.1.0"
description = ""
authors = ["i.AI <i-dot-ai-enquiries@cabinetoffice.gov.uk>"]
readme = "README.md"

[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "consultation_analyser.settings.test"

[tool.poetry.dependencies]
python = "^3.12"
django = "^5.0.2"
django-environ = "^0.11.2"
psycopg = "^3.1.18"


[tool.poetry.group.development.dependencies]
ruff = "^0.2.2"
pre-commit = "^3.6.2"
factory_boy = "^3.3.0"

[tool.mypy]
files = '**/*.py'
exclude= ['^consultation_analyser/consultations/migrations/']

[tool.poetry.group.test.dependencies]
pytest-django = "^4.8.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
