[tool.ruff]
line-length = 100
target-version = 'py312'

[tool.poetry]
name = "consultation-analyser"
version = "0.1.0"
description = ""
authors = ["i.AI <i-dot-ai-enquiries@cabinetoffice.gov.uk>"]
readme = "README.md"

[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "consultation_analyser.settings.test"
filterwarnings = [
  "ignore::pydantic.warnings.PydanticDeprecatedSince20",
  "ignore::FutureWarning:.*huggingface_hub.*",
  "ignore::SyntaxWarning:.*sentence_transformers.*",
]

[tool.poetry.dependencies]
python = "3.12.3"
django = "^5.1"
django-environ = "^0.12.0"
psycopg = "^3.2.4"
django-compressor = "^4.5"
django-libsass = "^0.9"
govuk-frontend-jinja = "^3.4.1"
pydot = "^3.0.4"
gunicorn = "^23.0.0"
whitenoise = "^6.8.2"
boto3 = "^1.36.6"
pydantic = "^2.10.6"
datamodel-code-generator = "^0.26.4"
django-types = "^0.20.0"
django-waffle = "^4.2.0"
django-magic-link = "^1.0.0"
django-crispy-forms = "^2.3"
crispy-forms-gds = "^2.0.1"
django-gov-notify = { git = "https://github.com/i-dot-ai/django-gov-notify", branch = "support-python-3-12" }
sentry-sdk = { extras = ["redis", "rq"], version = "^2.20.0" }
ijson = "^3.3.0"
psutil = "^6.1.1"
pytest-random-order = "^1.1.1"
django-rq = "^3.0.0"
django-redis = "^5.4.0"
honcho = "^2.0.0"
django-storages = "^1.14.4"
setuptools = "^75.8.0"
django-simple-history = "^3.8.0"

[tool.poetry.group.development.dependencies]
ruff = "^0.9.3"
pre-commit = "^4.1.0"
factory_boy = "^3.3.1"
django-extensions = "^3.2.3"
mypy = "^1.14.1"

[tool.mypy]
files = '**/*.py'
exclude = ['^consultation_analyser/consultations/migrations/']

[tool.poetry.group.test.dependencies]
pytest-django = "^4.9.0"
django-webtest = "^1.9.12"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
