[tool.ruff]
line-length = 120
target-version = 'py312'

[tool.poetry]
name = "consultation-analyser"
version = "0.1.0"
description = ""
authors = ["i.AI <i-dot-ai-enquiries@cabinetoffice.gov.uk>"]
readme = "README.md"

[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "consultation_analyser.settings.test"
filterwarnings = [
    "ignore::django.utils.deprecation.RemovedInDjango51Warning:.*compressor.*",
    "ignore::pydantic.warnings.PydanticDeprecatedSince20",
]

[tool.poetry.dependencies]
python = "^3.12"
django = "^5.0.2"
django-environ = "^0.11.2"
psycopg = "^3.1.18"
django-compressor = "^4.4"
django-libsass = "^0.9"
govuk-frontend-jinja = "^3.0.0"
pydot = "^2.0.0"
gunicorn = "^21.2.0"
whitenoise = "^6.6.0"
boto3 = "^1.34.79"
pydantic = "^2.6.4"
datamodel-code-generator = "^0.25.5"
langchain = "^0.1.12"
hdbscan = "^0.8.33"
sentence-transformers = "^2.5.1"
bertopic = "^0.16.0"
scikit-learn = "^1.4.1.post1"
umap-learn = "^0.5.5"
scipy = "^1.12.0"
numpy = "^1.26.4"
django-types = "^0.19.1"
django-waffle = "^4.1.0"
django-magic-link = "^1.0.0"
django-crispy-forms = "^2.1"
crispy-forms-gds = "^0.3.1"


[tool.poetry.group.development.dependencies]
ruff = "^0.3.7"
pre-commit = "^3.7.0"
factory_boy = "^3.3.0"
django-extensions = "^3.2.3"

[tool.mypy]
files = '**/*.py'
exclude= ['^consultation_analyser/consultations/migrations/']




[tool.poetry.group.test.dependencies]
pytest-django = "^4.8.0"
django-webtest = "^1.9.11"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
