{% extends "base.html" %}

{% set page_title = "Check your email" %}

{% block content %}
  <div class="govuk-grid-row iai-grid">
    <div class="iai-grid__start-3-span-8">
      <h1 class="govuk-heading-l">Sign in — link sent</h1>
      <p class="govuk-body">If you have access to Consult check your inbox for an email. If you don't have access or don't receive the email please contact <a href="mailto:consult-feedback@cabinetoffice.gov.uk" class="govuk-link">consult-feedback@cabinetoffice.gov.uk</a>.</p>
    </div>
  </div>
{% endblock %}
