---
import { fetchBackendApi } from "../../../../global/api";

import type { AstroGlobalRuntime, Question } from "../../../../global/types";

import Layout from "../../../../layouts/Layout.astro";
import Section from "../../../../components/Section/Section.svelte";

import FinalisingThemesDetail from "../../../../components/screens/FinalisingThemesDetail/FinalisingThemesDetail.svelte";
import FinalisingThemesDetailCompleted from "../../../../components/screens/FinalisingThemesDetailCompleted/FinalisingThemesDetailCompleted.svelte";

const { consultationId, questionId } = (Astro as unknown as AstroGlobalRuntime)
  .params;
const question: Question = await fetchBackendApi(
  Astro,
  `/api/consultations/${consultationId}/questions/${questionId}`,
);
---

<Layout>
  <Section>
    {
      question?.theme_status === "confirmed" ? (
        <FinalisingThemesDetailCompleted
          client:only="svelte"
          consultationId={consultationId || ""}
          questionId={questionId || ""}
        />
      ) : (
        <FinalisingThemesDetail
          client:only="svelte"
          consultationId={consultationId || ""}
          questionId={questionId || ""}
        />
      )
    }
  </Section>
</Layout>
