---
import Layout from "../../../../layouts/Layout.astro";

import FinalisingThemesArchive from "../../../../components/screens/FinalisingThemesArchive/FinalisingThemesArchive.svelte";
import Section from "../../../../components/Section/Section.svelte";
import type { AstroGlobalRuntime } from "../../../../global/types";

const { consultationId } = (Astro as unknown as AstroGlobalRuntime).params;
---

<Layout>
  <Section>
    <FinalisingThemesArchive
      client:only="svelte"
      consultationId={consultationId || ""}
    />
  </Section>
</Layout>
