---
import Layout from '../../layouts/Layout.astro';
import Section from '../../components/Section.svelte';
import Title from '../../components/Title.svelte';

import { getBackendUrl } from '../../global/utils';

const accessToken = Astro.cookies.get("access")?.value;

// TODO: Implement endpoint
// fetch(`${getBackendUrl(Astro.request.url)}/api/consultations/`, {
// 	headers: {
// 		"Authorization": `Bearer ${accessToken}`,
// 		"Content-Type": "application/json",
// 	}
// })
---
<Layout>
	<Section>
		<Title level={1} text="Your consultations" />

		<p>Click to review themes for your consultations</p>
	</Section>
</Layout>
