{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}

{% set page_title = "Your consultations" %}

{% block content %}

  <h1 class="govuk-heading-l">{{ page_title }}</h1>
  
  {% if consultations %}
    <ul class="govuk-list">
      {% for consultation in consultations %}
        <li class="govuk-!-margin-top-2">
          <a href="{{ url('consultation', kwargs={'consultation_slug': consultation.slug}) }}" class="govuk-body-l govuk-link govuk-link--no-visited-state">
            {{ consultation.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
    
    {% if is_staff %}
      <a href="/consultations/new/" role="button" draggable="false" class="govuk-button govuk-!-margin-top-3" data-module="govuk-button">
        Upload a consultation
      </a>
    {% endif %}
  {% else %}
    <p class="govuk-body">You do not have any consultations</p>
    <a href="/consultations/new/" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Upload a consultation
    </a>
  {% endif %}

{% endblock %}
