{% extends "base.html" %}
{%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}

{% set page_title = "All Questions" %}

{% block content %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Back to all consultations",
        "href": "/consultations",
      }
    ]
  }) }}

  {%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}

  <style>
    .govuk-main-wrapper {
      background: white;
    }
  </style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <iai-question-overview-page></iai-question-overview-page>
      <script>
        const questionOverviewPage = document.getElementsByTagName("iai-question-overview-page")[0];

        questionOverviewPage.consultationName = "{{ consultation.title }}"
        questionOverviewPage.questions = [
          {% for question_dict in all_questions_list %}
            {
              id: "{{ question_dict.question.id }}",
              title: "Q{{ question_dict.question.number }}: {{ question_dict.question.text }}",
              url: "{{ url('question_responses', kwargs={'consultation_slug': consultation.slug, 'question_slug': question_dict.question.slug}) }}",
              numResponses: "{{ question_dict.number_responses }}",
              status: "Open",
            },
          {% endfor %}
        ]
      </script>
    </div>
  </div>

  <noscript>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

            {% for question_dict in questions_list %}
              <div class="iai-panel govuk-!-margin-bottom-4">
                <span class="govuk-caption-m "><a class="govuk-link" href="{{ url('question_responses', kwargs={'consultation_slug': consultation.slug, 'question_slug': question_dict.question.slug}) }}">Question {{ question_dict.question.number }}</a></span>
                <h2 class="govuk-heading-m govuk-!-margin-top-1">{{ question_dict.question.text }}</h2>

                {% if question_dict.free_text_question_part %}
                    <h3 class="govuk-heading-s">Free text response</h3>
                    <p class="govuk-body">
                      This question has {{ question_dict.free_text_count }} free text responses.
                    </p>
                {% else %}
                  <p class="govuk-body">This question does not have free text responses</p>
                {% endif %}

                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                {% if question_dict.multiple_option_question_part %}
                  <h3 class="govuk-heading-s">Response to multiple choice</h3>
                  {% for key, value in question_dict.multiple_option_counts.items() %}
                      <p>{{key}}: {{value}}</p>
                   {% endfor %}
                {% else %}
                  <p class="govuk-body">This question does not have a multiple choice part</p>
                {% endif %}

              </div>
            {% endfor %}

            {% from "components/pagination.html" import render_pagination %}
            {{ render_pagination(pagination) }}

          </div>
        </div>
      </div>
    </div>
  </noscript>


{% endblock %}
