{% extends "base.html" %}
{%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}

{% set page_title = "Dashboard" %}

{% block content %}

  <h1 class="govuk-heading-m">{{ page_title }}</h1>
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Back to your consultations",
        "href": "/consultations",
      }
    ]
  }) }}

  {%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          {% for question_dict in questions_list %}
            <div class="iai-panel govuk-!-margin-bottom-4">
              <span class="govuk-caption-m "><a class="govuk-link" href="{{ url('question_responses', kwargs={'consultation_slug': consultation.slug, 'question_slug': question_dict.question.slug}) }}">Question {{ question_dict.question.number }}</a></span>
              <h2 class="govuk-heading-m govuk-!-margin-top-1">{{ question_dict.question.text }}</h2>

              {% if question_dict.free_text_question_part %}
                  <h3 class="govuk-heading-s">Free text response</h3>
                  <p class="govuk-body" style="display: flex;align-items:center;gap: 0.6%">
                    <img src="{{ static('icons/thumbs-up-down.svg') }}"/>
                    {{ question_dict.sentiment_counts.agreement }} Agreement,
                    {{ question_dict.sentiment_counts.disagreement}} Disagreement,
                    {{ question_dict.sentiment_counts.unclear }} Unclear
                    {% if question_dict.sentiment_counts.no_position %}
                      , {{ question_dict.sentiment_counts.no_position }} No opinion
                    {% endif %}
                  </p>

                  <p class="govuk-body govuk-!-margin-bottom-2">Top themes</p>

                  <div class="govuk-pill-container" style="display: flex;align-items:center;gap: 0.6%">
                    {% for item in question_dict.theme_counts %}
                      <div class="govuk-pill">
                        <tool-tip class="iai-tooltip">
                          <div class="iai-tooltip__button">
                            <span>{{ item.theme.name }}</span>
                            <img src="{{ static('icons/question-mark.svg') }}" alt="" width="14"/>
                          </div>
                          <div class="iai-tooltip__content">
                            {{ item.theme.description }}
                          </div>
                        </tool-tip>
                      </div>
                    {% endfor %}
                  </div>
              {% else %}
                <p class="govuk-body">This question does not have free text responses</p>
              {% endif %}

              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              {% if question_dict.single_option_question_part %}
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
                <script src="{{ static('scripts/horizontal-bar-chart.js') }}"></script>
                <h3 class="govuk-heading-s">Response to closed question (single option)</h3>
                <horizontal-bar-chart data='{{ question_dict.single_option_counts }}'></horizontal-bar-chart>
              {% else %}
                <p class="govuk-body">This question does not have a multiple choice option</p>
              {% endif %}

            </div>
          {% endfor %}

          {# Pagination #}
          {% if pagination.paginator.num_pages > 1 %}
            <nav class="govuk-pagination" role="navigation" aria-label="Pagination">

              {% if pagination.number > 1 %}
                <div class="govuk-pagination__prev">
                  <a class="govuk-link govuk-pagination__link" href="?page={{ pagination.number - 1 }}" rel="prev">
                    <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                      <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                    </svg>
                    <span class="govuk-pagination__link-title">
                      Previous<span class="govuk-visually-hidden"> page</span>
                    </span>
                  </a>
                </div>
              {% endif %}

              <ul class="govuk-pagination__list">

                {% if pagination.number > 2 %}
                  <li class="govuk-pagination__item">
                    <a class="govuk-link govuk-pagination__link" href="?page=1" aria-label="Page 1">
                      1
                    </a>
                  </li>
                  <li class="govuk-pagination__item govuk-pagination__item--ellipses">
                    &ctdot;
                  </li>
                {% endif %}

                {% if pagination.has_previous() %}
                  <li class="govuk-pagination__item">
                    <a class="govuk-link govuk-pagination__link" href="?page={{ pagination.previous_page_number() }}" aria-label="Page {{ pagination.previous_page_number() }}">
                      {{ pagination.previous_page_number() }}
                    </a>
                  </li>
                {% endif %}
                <li class="govuk-pagination__item govuk-pagination__item--current">
                  <a class="govuk-link govuk-pagination__link" href="?page={{ pagination.number }}" aria-label="Page {{ pagination.number }}" aria-current="page">
                    {{ pagination.number }}
                  </a>
                </li>

                {% if pagination.has_next() %}
                  <li class="govuk-pagination__item">
                    <a class="govuk-link govuk-pagination__link" href="?page={{ pagination.next_page_number() }}" aria-label="Page {{ pagination.next_page_number() }}">
                      {{ pagination.next_page_number() }}
                    </a>
                  </li>
                {% endif %}

                {% if pagination.paginator.num_pages > pagination.number + 1 %}
                  <li class="govuk-pagination__item govuk-pagination__item--ellipses">
                    &ctdot;
                  </li>
                  <li class="govuk-pagination__item">
                    <a class="govuk-link govuk-pagination__link" href="?page={{ pagination.paginator.num_pages }}" aria-label="Page {{ pagination.paginator.num_pages }}">
                      {{ pagination.paginator.num_pages }}
                    </a>
                  </li>
                {% endif %}

              </ul>

              {% if pagination.has_next() %}
                <div class="govuk-pagination__next">
                  <a class="govuk-link govuk-pagination__link" href="?page={{ pagination.next_page_number() }}" rel="next">
                    <span class="govuk-pagination__link-title">
                      Next<span class="govuk-visually-hidden"> page</span>
                    </span>
                    <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                      <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                    </svg>
                  </a>
                </div>
              {% endif %}

            </nav>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
