{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}

{% set page_title = "Consultations" %}

{% block content %}
  <h1 class="govuk-heading-l">{{ page_title }}</h1>
  <form method="post" novalidate>{{ csrf_input }}
    <ul class="govuk-list">
      {% for consultation in consultations %}
        <li>
          <a href="{{ url('support_consultation', kwargs={'consultation_slug': consultation.slug}) }}" class="govuk-body-l govuk-link govuk-link--no-visited-state">
            {{ consultation.name }}
          </a>
        </li>
      {% endfor %}
    </ul>

    {% if development_env %}
      {{ govukButton({
        'text': "Generate dummy consultation",
        'name': "generate_dummy_consultation"
      }) }}
    {% endif %}

  </form>

{% endblock %}
