{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}

{% set page_title = "Users" %}

{% block content %}
  <h1 class="govuk-heading-l">{{ page_title }}</h1>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Email</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
    {% for user in users %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          {{ user.email }}
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
