{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}

{% set page_title = consultation.name %}

{% block content %}
  <h1 class="govuk-heading-l">{{ page_title }}</h1>
  <div>
    {% if number_of_themes %}
      <p class="govuk-body">For this consultation there are {{number_of_themes}} themes.</p>
      <p class="govuk-body">Of these themes, {{number_of_themes_with_summaries}} have summaries, {{number_of_themes_unable_to_summarise}} themes we were unable to summarise, and {{number_of_themes_not_yet_summarised}} themes have not yet been summarised.</p>

    {% else %}
      <p class="govuk-body">There are no themes for this consultation.</p>
    {% endif %}

    <p class="govuk-body">
      <a href="{{ url('consultation', kwargs={'consultation_slug': consultation.slug}) }}" class="govuk-link govuk-body govuk-link--no-visited-state">
        View on frontend
      </a>
    </p>

    <p class="govuk-body">
      <a href="{{ url('delete_consultation', kwargs={'consultation_id': consultation.id}) }}" class="govuk-link govuk-link--warning govuk-body">
        Delete this consultation
      </a>
    </p>

  </div>

  <br />

  <form method="post" novalidate>{{ csrf_input }}

    <div>
      <p class="govuk-body">
        Generating themes runs topic modelling then LLM summarisation. You may wish to do these steps separately in testing.
      </p>
    </div>

    <br>
    {{ govukButton({
      'text': "Download JSON",
      'name': "download_json"
    }) }}
  </form>

  <form method="post" novalidate>{{ csrf_input }}
    {{ govukButton({
      'text': "Generate themes",
      'name': "generate_themes"
    }) }}

    {{ govukButton({
      'text': "Run topic modelling",
      'name': "topic_modelling",
      'classes': "govuk-button--secondary"
    }) }}

    {{ govukButton({
      'text': "Run LLM summarisation",
      'name': "llm_summarisation",
      'classes': "govuk-button--secondary"
    }) }}


  </form>

{% endblock %}
