{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}
{%- from 'govuk_frontend_jinja/components/notification-banner/macro.html' import govukNotificationBanner -%}
{%- from 'govuk_frontend_jinja/components/warning-text/macro.html' import govukWarningText -%}


{% block content %}

  {% for message in messages %}
    {% if message.tags == "info" %}
      {{ govukNotificationBanner({
        'html': message
      }) }}
    {% elif message.tags == "warning" %}
      {{ govukWarningText({
        'text': message,
        'iconFallbackText': "Warning"
      }) }}
    {% endif %}
  {% endfor %}

  <h1 class="govuk-heading-xl">Test the machine learning pipeline</h1>
    <form method="post" novalidate>{{ csrf_input }}

      <h2 class="govuk-heading-l">Generate a dummy consultation for testing</h2>
        <p class="govuk-body">Local, test, and develop environments only. Generate dummy questions and responses but no dummy themes.</p>

        {{ govukButton({
          'text': "Generate dummy consultation",
          'name': "generate_dummy_consultation"
        }) }}


      <h2 class="govuk-heading-l">Generate themes for existing consultations</h2>
        {% for c in consultations %}
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <p>
                <a href="{{ url('consultation', kwargs={'consultation_slug': c.slug}) }}" class="govuk-body-l govuk-link govuk-link--no-visited-state">
                  {{ c.name }}
                </a>
              </p>
            </div>
            <div class="govuk-grid-column-one-third">
              <p>
                {{ govukButton({
                  'text': "Generate themes",
                  'name': "consultation_id",
                  'value': c.id
                }) }}
              </p>
            </div>
          </div>
        {% endfor %}

    </form>

{% endblock %}



