# Playwright test results and report
playwright-report/
test-results/

# npm dependencies
node_modules/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
