{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}

{% if question %}
  {% set page_title = "Delete question" %}
  {% set consultation_title = question.consultation.title %}
  {% set question_text = question.text %}
  {% set item_type = "question" %}
{% else %}
  {% set page_title = "Delete question part" %}
  {% set consultation_title = question_part.question.consultation.title %}
  {% set question_text = question_part.question.text %}
  {% set item_type = "question part" %}
{% endif %}

{% block content %}
  <h1 class="govuk-heading-l">{{ page_title }}</h1>
  <div>
    <p class="govuk-body">This {{ item_type }} is part of the consultation with title: {{ consultation_title }}</p>
    <p class="govuk-body">Are you sure you want to delete the following {{ item_type }}?</p>
    <p class="govuk-inset-text">
      {{ question_text }}
    </p>
  </div>

  <br />

  <form method="post" novalidate>{{ csrf_input }}
    {{ govukButton({
      'text': "Yes, delete it",
      'name': "confirm_deletion",
      'classes': "govuk-button--warning"
    }) }}
    {{ govukButton({
      'text': "No, go back",
      'name': "cancel_deletion",
      'classes': "govuk-button"
    }) }}
  </form>

{% endblock %}
