---
import { fetchBackendApi } from "../../../../../global/api";
import type {
  AstroGlobalRuntime,
  ConsultationResponse,
} from "../../../../../global/types";

import Layout from "../../../../../layouts/Layout.astro";
import Section from "../../../../../components/Section/Section.svelte";
import Title from "../../../../../components/Title.svelte";
import Text from "../../../../../components/Text/Text.svelte";
import {
  getApiConsultationUrl,
  Routes,
  getSupportConsultationDetails,
} from "../../../../../global/routes";
import AddUserToConsultationForm from "../../../../../components/screens/AddUserToConsultationForm.svelte";

const { consultationId } = (Astro as unknown as AstroGlobalRuntime).params;

if (!consultationId) {
  return (Astro as unknown as AstroGlobalRuntime).redirect(
    Routes.SupportConsultations,
  );
}

let consultation = await fetchBackendApi<ConsultationResponse>(
  Astro,
  getApiConsultationUrl(consultationId),
);
---

<Layout>
  <Section>
    <div class="mb-4">
      <a
        href={getSupportConsultationDetails(consultationId)}
        class="text-gray-700 underline">← Back to consultation</a
      >
    </div>
    <Title level={1} text="Add users" />
    <Text>Adding to {consultation.title}</Text>
    <AddUserToConsultationForm client:load consultationId={consultationId} />
  </Section>
</Layout>
