{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}

{% set page_title = "Response explorer" %}

{% block content %}

  <p class="govuk-heading-s">{{ consultation_name }}</p>
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Your consultations",
        "href": "/consultations",
      },
      {
        "text": "All questions",
        "href": "/consultations/" + consultation_slug
      }
    ]
  }) }}

  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-m govuk-!-font-weight-regular">
        <span class="govuk-body-s govuk-!-display-block govuk-!-font-weight-bold">Question {{question.number}}</span>
        {{ question.text }}
      </h1>
      <h2 class="govuk-heading-m govuk-!-font-weight-regular">
        {{ free_text_question_part.text }}
      </h2>
    </div>

    <!-- TODO: add search bar -->
  </div>

  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-one-quarter-from-desktop">
      <div class="iai-panel govuk-!-margin-bottom-5">
        <h2 class="govuk-body-s govuk-!-display-block govuk-!-font-weight-bold">Filters</h2>
        READD FILTERS (keywords, theme)
      </div>
    </div>

    <div class="govuk-grid-column-three-quarters-from-desktop">
      <span class="govuk-caption-m">{{ total_responses }} responses</span>
      <h2 class="govuk-heading-m">Overview</h2>
      
      <!-- TODO: add 'top themes' panel here -->

      <!-- TODO: add 'Response to multiple choice' panel here -->

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <span class="govuk-caption-m">{{ total_responses }} responses</span>
          <h2 class="govuk-heading-m">Individual responses</h2>
        </div>
      </div>

      <!-- TODO: add sorting options here -->
      
      <!-- TODO: replace table below with detailed response panels -->

      {# Responses #}

      {% for respondent, response in responses.items() %}
        <div class="iai-panel response govuk-!-margin-bottom-4">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <!-- <span class="govuk-caption-m">Individual</span> -->
              <h2 class="govuk-heading-m">
                <!-- <a href="/respondent/0" class="govuk-link govuk-link--no-underline govuk-link--no-visited-state">
                  Respondent 0
                </a> -->
                Respondent {{ respondent }}
              </h2>
            </div>
            <!-- <div class="govuk-grid-column-one-third">
              <a class="pin-response align-right">
                <p class="govuk-body-s govuk-!-margin-bottom-0" style="display: flex; align-items: center;">
                  <img src="/public/images/pin-response.svg" alt="Pin response">
                  <span>Pin response</span>
                </p>
              </a>
            </div> -->
          </div>
            {% if response.free_text %}
              <h3 class="govuk-heading-s govuk-!-margin-bottom-4">Free text response</h3>
              <p class="govuk-body" style="display: flex; align-items: center; gap: 0.6%;">
                <img src="/public/images/thumbs-up.svg" alt="icon" style="width: 24px; height: 24px;">
                <span>Agreement</span>
              </p>

              <div class="govuk-pill-container" style="display: flex; align-items: center; gap: 0.6%;">
                <div class="govuk-pill">
                  <tool-tip class="iai-tooltip">
                    <div class="iai-tooltip__button" role="tooltip" tabindex="0" aria-describedby="tooltip-content-2a1c358a-162a-4cf8-8011-43c13ef22785">
                      <img src="/public/images/tick.svg" alt="icon" style="width: 24px; height: 24px;">
                      <span>Gaining from Global Best Practices</span>
                      <img src="/public/images/question-mark.svg" alt="info" width="14">
                    </div>
                    <div class="iai-tooltip__content" id="tooltip-content-2a1c358a-162a-4cf8-8011-43c13ef22785">
                      Following the effective examples provided by nations such as Italy and Australia, which have seen positive outcomes after imposing similar restrictions, demonstrates the potential for success of this policy.
                    </div>
                  </tool-tip>
                </div>
              </div>
              <div class="govuk-pill-container" style="display: flex; align-items: center; gap: 0.6%;">
                
              </div>
              <p class="govuk-body" style="line-height: 2em;">
                <span class="sentence-border">Reducing gambling ads is a good move. </span><span class="sentence-border">Countries like Italy and Australia have had success with this, showing it can work. </span><span class="sentence-border">It's a step worth taking to help those recovering.</span>
              </p>
            {% endif %}

            {% if response.multiple_choice %}
              <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Response to multiple choice</h3>
              <p class="govuk-body" style="line-height: 2em;">
                Not answered
              </p>
            {% endif %}

          <p class="govuk-body-s">Region: Wales, Individual type: Individual</p>
        </div>
      {% endfor %}

      <div class="iai-panel">
        <table class="govuk-table con-responses-table">
          <caption class="govuk-table__caption govuk-table__caption--m govuk-!-margin-bottom-0">
            <h2 class="govuk-body-s govuk-!-display-block govuk-!-font-weight-bold govuk-!-margin-bottom-0">Responses</h2>
            <span class="iai-table-subhead govuk-body-s govuk-!-margin-top-1">(Showing <strong>{{ responses|length }}</strong> of <strong>{{ total_responses }}</strong> responses)</span>
          </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Free text</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for response in responses %}
              <tr class="govuk-table__row govuk-body-s">
                <td class="govuk-table__cell">
                  {{ response.text }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        

      </div>

      {# Pagination #}
        {% if pagination.paginator.num_pages > 1 %}
          <nav class="govuk-pagination" role="navigation" aria-label="Pagination">

            {% if pagination.number > 1 %}
              <div class="govuk-pagination__prev">
                <a class="govuk-link govuk-pagination__link" href="?page={{ pagination.number - 1 }}" rel="prev">
                  <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                    <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                  </svg>
                  <span class="govuk-pagination__link-title">
                    Previous<span class="govuk-visually-hidden"> page</span>
                  </span>
                </a>
              </div>
            {% endif %}

            <ul class="govuk-pagination__list">

              {% if pagination.number > 2 %}
                <li class="govuk-pagination__item">
                  <a class="govuk-link govuk-pagination__link" href="?page=1" aria-label="Page 1">
                    1
                  </a>
                </li>
                <li class="govuk-pagination__item govuk-pagination__item--ellipses">
                  &ctdot;
                </li>
              {% endif %}

              {% if pagination.has_previous() %}
                <li class="govuk-pagination__item">
                  <a class="govuk-link govuk-pagination__link" href="?page={{ pagination.previous_page_number() }}" aria-label="Page {{ pagination.previous_page_number() }}">
                    {{ pagination.previous_page_number() }}
                  </a>
                </li>
              {% endif %}
              <li class="govuk-pagination__item govuk-pagination__item--current">
                <a class="govuk-link govuk-pagination__link" href="?page={{ pagination.number }}" aria-label="Page {{ pagination.number }}" aria-current="page">
                  {{ pagination.number }}
                </a>
              </li>

              {% if pagination.has_next() %}
                <li class="govuk-pagination__item">
                  <a class="govuk-link govuk-pagination__link" href="?page={{ pagination.next_page_number() }}" aria-label="Page {{ pagination.next_page_number() }}">
                    {{ pagination.next_page_number() }}
                  </a>
                </li>
              {% endif %}

              {% if pagination.paginator.num_pages > pagination.number + 1 %}
                <li class="govuk-pagination__item govuk-pagination__item--ellipses">
                  &ctdot;
                </li>
                <li class="govuk-pagination__item">
                  <a class="govuk-link govuk-pagination__link" href="?page={{ pagination.paginator.num_pages }}" aria-label="Page {{ pagination.paginator.num_pages }}">
                    {{ pagination.paginator.num_pages }}
                  </a>
                </li>
              {% endif %}

            </ul>

            {% if pagination.has_next() %}
              <div class="govuk-pagination__next">
                <a class="govuk-link govuk-pagination__link" href="?page={{ pagination.next_page_number() }}" rel="next">
                  <span class="govuk-pagination__link-title">
                    Next<span class="govuk-visually-hidden"> page</span>
                  </span>
                  <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                    <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                  </svg>
                </a>
              </div>
            {% endif %}

          </nav>
        {% endif %}

    </div>

  </div>

{% endblock %}
