{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}

{% set page_title = "Response explorer" %}

{% block content %}

  <noscript>
    <p class="govuk-heading-s">{{ consultation_name }}</p>
    <p class="govuk-body">JavaScript is required to view this page</p>
  </noscript>

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "All consultations",
        "href": "/consultations",
      },
      {
        "text": "All questions",
        "href": "/consultations/" + consultation_slug
      }
    ]
  }) }}

<iai-response-dashboard></iai-response-dashboard>
<script>
  const responseDashboardEl = document.getElementsByTagName("iai-response-dashboard")[0];

  responseDashboardEl.consultationTitle = "{{ consultation_name }}";
  responseDashboardEl.consultationSlug = "{{ consultation_slug }}"
  responseDashboardEl.questionTitle = "Question {{question.number}}";
  responseDashboardEl.questionSlug = "{{ question_slug }}";
  responseDashboardEl.questionText = "{{ question.text }}";
  responseDashboardEl.responses = [];

  responseDashboardEl.themeMappings = [
      {% for theme_mapping in selected_theme_mappings %}
        {
          inputId: "themesfilter-{{loop.index0}}",
          value: "{{ theme_mapping.theme__id }}",
          label: "{{ theme_mapping.theme__name }}",
          description: "{{ theme_mapping.theme__description | safe }}",
          count: "{{ theme_mapping.count }}",
        },
      {% endfor %}
  ];

  responseDashboardEl.stanceOptions = [
    {% for option in stance_options %}
      {
          inputId: "responsesentiment-{{loop.index0}}",
          name: "responsesentiment",
          value: "{{option}}",
          label: "{{ option|capitalize }}",
      },
    {% endfor %}
  ];

  responseDashboardEl.free_text_question_part = {% if free_text_question_part %}true{% else %}false{% endif %};
  responseDashboardEl.has_multiple_choice_question_part = {% if has_multiple_choice_question_part %}true{% else %}false{% endif %};

  responseDashboardEl.multiple_choice_summary = [
  {% if has_multiple_choice_question_part %}
      {% for summary in multiple_choice_summary %}
        {% for option, count in summary.items() %}
          {"{{ option }}": {{ count }}},
        {% endfor %}
      {% endfor %}
    {% endif %}
  ];
</script>

{% endblock %}
