{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}

{% set page_title = "Review response themes" %}

{% block content %}

<div class="govuk-grid-row govuk-!-margin-top-5">
  <div
    class="iai-panel govuk-grid-column-one-half govuk-!-margin-bottom-4 iai-grid-column-one-half response-theme-review-one-half">
    <h1 class="govuk-heading-s">
      Question {{question.number}}:
      <br>
      <iai-expanding-text
        text="{{ question.text }}"
        lines="3"
      ></iai-expanding-text>
      <noscript>
        {{ question.text }}
      </noscript>
    </h1>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <p class="govuk-body" id="text">
      Response{% if response.respondent.themefinder_id or response.respondent.themefinder_id == 0
      %} {{response.respondent.themefinder_id}}{% endif %}:
      <br>
      {{ response.free_text }}
    </p>

  </div>
  <div
    class="iai-panel govuk-grid-column-one-half govuk-!-margin-bottom-4 iai-grid-column-one-half response-theme-review-one-half">

    <form method="POST">

      {{ csrf_input }}

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h2 class="govuk-fieldset__heading">
              Which themes are most relevant?
            </h2>
            <div class="govuk-hint iai-hint">
              If no theme is present, leave all unticked
            </div>
          </legend>
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
            {% for theme in all_themes %}
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="theme-{{ loop.index0 }}" name="theme" type="checkbox"
                value="{{ theme.id }}" {% if theme.id in existing_themes %} checked="True" {% endif %}
                aria-describedby="theme-{{ loop.index0 }}-hint">
              <label class="govuk-label govuk-checkboxes__label" for="theme-{{ loop.index0 }}">
                {{ theme.name }}
              </label>
              <div id="theme-{{ loop.index0 }}-hint" class="govuk-hint govuk-checkboxes__hint iai-hint">
                {{ theme.description }}
              </div>
              </input>
            </div>
            {% endfor %}
          </div>
        </fieldset>
      </div>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button" data-govuk-button-init="">
          Save and continue to a new response
        </button>
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button" data-govuk-button-init=""
          formaction="{{ url('show_next_response', kwargs={'question_id': question.id, 'consultation_id': consultation_id}) }}"
          formmethod="get">
          Skip this response
        </button>
      </div>

    </form>


  </div>
</div>


{% endblock %}
