{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}

{% set page_title = "Review response themes" %}

{% block content %}

  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-m">Question {{question.number}} </span>
      <h1 class="govuk-heading-m">
        {{ question.text }}
      </h1>
      <h2 class="govuk-heading-s govuk-!-font-weight-regular">
        <span class="govuk-caption-m">Part {{response.question_part.number}}</span>
        {% if response.question_part.text %}
          {{ response.question_part.text }}
        {% endif %}
      </h2>

      <div class="iai-panel govuk-!-margin-bottom-4">
        <h2 class="govuk-heading-m">Respondent {{response.respondent.id}}</h2>
        <p class="govuk-body-s">Submitted on: {{ date_created }}</p>

        <h3 class="govuk-heading-s govuk-!-margin-bottom-4">Response</h3>
        <p style="line-height: 2em" class="govuk-body" id="text">
          {{ response.text }}
        </p>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <form method="POST">

          {{ csrf_input }}

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="theme-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h2 class="govuk-fieldset__heading">
                  Which themes are most relevant?
                </h2>
              </legend>
              <div id="theme-hint" class="govuk-hint">
                Select all that apply
              </div>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                {% for theme in all_themes %}
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="theme-{{ loop.index0 }}" name="theme" type="checkbox" value="{{ theme.id }}"
                  {% if theme.id in existing_themes %} checked="True" {% endif %}
                  aria-describedby="theme-{{ loop.index0 }}-hint">
                    <label class="govuk-label govuk-checkboxes__label" for="theme-{{ loop.index0 }}">
                      {{ theme.name }}
                    </label>
                    <div id="theme-{{ loop.index0 }}-hint" class="govuk-hint govuk-checkboxes__hint">
                      {{ theme.description }}
                    </div>
                  </input>
                </div>
                {% endfor %}
              </div>
            </fieldset>
          </div>

          <button type="submit" class="govuk-button" data-module="govuk-button" data-govuk-button-init="">
            Save and continue to a new response
          </button>

        </form>


      </div>
    </div>
  </div>


{% endblock %}