{%- from "govuk_frontend_jinja/components/footer/macro.html" import govukFooter -%}
{%- from 'govuk_frontend_jinja/components/header/macro.html' import govukHeader -%}
{%- from 'govuk_frontend_jinja/components/phase-banner/macro.html' import govukPhaseBanner -%}

<!DOCTYPE html>
<html lang="en" class="govuk-template">

<head>
  <meta charset="utf-8">
  <title>
    {% if page_title %}{{ page_title }} - {% endif %}
    {{ app_config.name }}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="#0b0c0c">

  <link rel="icon" sizes="48x48" href="{{ static("govuk-assets/images/favicon.ico") }}">
  <link rel="icon" sizes="any" href="{{ static("govuk-assets/images/favicon.svg") }}" type="image/svg+xml">
  <link rel="mask-icon" href="{{ static("govuk-assets/images/govuk-icon-mask.svg") }}" color="#0b0c0c">
  <link rel="apple-touch-icon" href="{{ static("govuk-assets/images/govuk-icon-180.png") }}">
  <link rel="manifest" href="{{ static("govuk-assets/manifest.json") }}">

  <meta name="robots" content="noindex, nofollow">
  {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{{ static("style.scss") }}" />
  {% endcompress %}

</head>

<body class="govuk-template__body">
  <script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>

  <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>

  {{ govukHeader({
    "homepageUrl": "https://www.gov.uk",
    "serviceName": app_config.name,
    "serviceUrl": app_config.path,
    'navigation': app_config.menu_items}) }}

  <div class="govuk-width-container">

    {{ govukPhaseBanner({
      "tag": {
        "text": "Alpha"
      },
      "html": 'This is a new service – your <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/GESFSF/">feedback</a> will help us to improve it.'
    }) }}

    <main class="govuk-main-wrapper" id="main-content" role="main">
      {% block content %}
      {% endblock %}
    </main>
  </div>

  {{ govukFooter({
    "meta": {
      "items": [
        {
          "href": "/privacy",
          "text": "Privacy notice"
        }
      ]
    }
  }) }}

</body>

</html>
