{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}

{% block content %}
  <h1 class="govuk-heading-xl">Questions</h1>
    {% for q in questions %}
      <li>
        <a class="govuk-link" href="{{ url('show_question', kwargs={'question_slug': q.slug, 'section_slug': q.section.slug, 'consultation_slug': q.section.consultation.slug}) }}">
                      {{ q.text }}
        </a>
      </li>

    {% endfor %}


  <form method="post" novalidate>{{csrf_input}}
    {{ govukButton({
      'text': "Generate dummy consultation"
    }) }}
  </form>

{% endblock %}
