{% if messages %}
  {% for message in messages %}
    <div class="govuk-notification-banner govuk-notification-banner--{{ message.level_tag }}" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          {{ message.level_tag | title }}
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          {{ message.message }}
        </h3>
      </div>
    </div>
  {% endfor %}
{% endif %}
