{% extends "base.html" %}

{% set page_title = "Consultation data schema" %}

{% block content %}
  <h1 class="govuk-heading-xl">Consultation data schema v0.1</h1>

  <p class="govuk-body">This page lists the data components required for a consultation to be suitable for processing by the analyser. </p>

  <p class="govuk-body">Data should be provided in one JSON file containing both the consultation itself and a list of responses. That overall data file is described here and an example is given. Underneath are details of each section, including individual JSON schemas for both the Consultation and ConsultationResponseList parts of the JSON file.</p>

  <h2 class="govuk-heading-l">ConsultationWithResponses JSON</h2>
  <p class="govuk-body">This is the schema for the file the analyser tool will accept.</p>

  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        JSON schema
      </span>
    </summary>
    <div class="govuk-details__text" data-qa="consultation-with-responses-schema">
      <pre><code>{{ json_schemas['consultation_with_responses'] }}</code></pre>
    </div>
  </details>

  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Example JSON
      </span>
    </summary>
    <div class="govuk-details__text" data-qa="consultation-with-responses-example">
      <pre><code>{{ json_examples['consultation_with_responses'] }}</code></pre>
    </div>
  </details>

  <h2 class="govuk-heading-l">Consultation JSON</h2>
  <p class="govuk-body">The consultation file should describe the consultation conforming to this schema.</p>

  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        JSON schema
      </span>
    </summary>
    <div class="govuk-details__text" data-qa="consultation-schema">
      <pre><code>{{ json_schemas['consultation'] }}</code></pre>
    </div>
  </details>

  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Example JSON
      </span>
    </summary>
    <div class="govuk-details__text" data-qa="consultation-example">
      <pre><code>{{ json_examples['consultation'] }}</code></pre>
    </div>
  </details>

  <h2 class="govuk-heading-l">ConsultationResponse JSON</h2>
  <p class="govuk-body">The ConsultationResponse contains answers and metadata about the response.</p>
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        JSON schema
      </span>
    </summary>
    <div class="govuk-details__text" data-qa="consultation-response-schema">
      <pre><code>{{ json_schemas['consultation_response'] }}</code></pre>
    </div>
  </details>

  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Example JSON
      </span>
    </summary>
    <div class="govuk-details__text" data-qa="consultation-response-example">
      <pre><code>{{ json_examples['consultation_response'] }}</code></pre>
    </div>
  </details>

  <h2 class="govuk-heading-l">Entities</h2>
  {% for schema in entity_schemas %}
    <h3 class="govuk-heading-m">{{ schema.name() }}</h3>
    <p class="govuk-body">{{ schema.description() }}</p>
    {% if schema.rows() %}
      <table style="word-wrap:break-word" class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th style="width:30%" scope="col" class="govuk-table__header">Field</th>
            <th style="width:30%" scope="col" class="govuk-table__header">Description</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for row in schema.rows() %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">{{ row['name'] }}</th>
              <td class="govuk-table__cell">{{ row['description'] }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  {% endfor %}

  <h2 class="govuk-heading-l">Changelog</h2>
  <h3 class="govuk-heading-s">28 March 2024</h3>
  <p class="govuk-body">Initial release</p>
{% endblock %}

