{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}

{% set page_title = "Question summary" %}

{% block pre_main %}
  {{ govukBackLink({
    "text": "Back to all questions",
    "href": "/consultations/" + consultation_slug
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-m">Showing <strong>all</strong> of <strong>{{ total_responses }} </strong> responses</span>
      <h1 class="govuk-heading-l">{{ page_title }}</h1>
      <p class="govuk-body">{{ question.text }}</p>

      {% if multiple_choice_responses %}
        <dl class="govuk-summary-list">
          {% for response in multiple_choice_responses %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                {{ response.answer }}
              </dt>
              <dd class="govuk-summary-list__value">
                {{ response.percent }}%
              </dd>
            </div>
          {% endfor %}
        </dl>
      {% endif %}
    </div>

    {% if multiple_choice_responses %}
      <div class="govuk-grid-column-one-third govuk-!-padding-0">
        <donut-chart>
          {% for response in multiple_choice_responses %}
            <chart-item data-label="{{ response.answer }}" data-count="{{ response.percent }}"></chart-item>
          {% endfor %}
        </donut-chart>
      </div>
    {% endif %}

  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
      <div class="iai-filters govuk-!-margin-bottom-5">
        <h2 class="govuk-heading-m">Filters</h2>
        <form>

          <div class="govuk-form-group">
              <label class="govuk-label" for="theme">
                Theme
              </label>
              <select class="govuk-select" id="theme" name="theme">
                <option {% if applied_filters.theme == "All" %}selected{% endif %}>All</option>
                {% for theme in themes %}
                  <option value="{{ theme.id }}" {% if applied_filters.theme|string == theme.id|string %}selected{% endif %}>{{ theme.short_description }}</option>
                {% endfor %}
                {#<option {% if applied_filters.theme == "No theme" %}selected{% endif %}>No theme</option>#}
              </select>
            </div>

          {% if question.multiple_choice_options %}
            <div class="govuk-form-group">
              <label class="govuk-label" for="opinion">
                Opinion
              </label>
              <select class="govuk-select" id="opinion" name="opinion">
                <option {% if applied_filters.opinion == "All" %}selected{% endif %}>All</option>
                {% for item in question.multiple_choice_options %}
                  {% for opt in item["options"] %}
                    <option {% if applied_filters.opinion == opt %}selected{% endif %}>{{ opt }}</option>
                  {% endfor %}
                {% endfor %}
              </select>
            </div>
          {% endif %}

          {{ govukButton({
            "text": "Apply filters",
            "classes": "govuk-!-margin-bottom-2"
          }) }}
          <div class="govuk-!-padding-2">
            <a class="govuk-body" href="?">Clear filters</a>
          </div>

        </form>
      </div>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--s">
          <h2 class="govuk-!-margin-bottom-2 govuk-!-margin-top-0">Prevalent themes</h2>
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Theme</th>
            <th scope="col" class="govuk-table__header">Number of respondents</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for theme in themes %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <details class="govuk-details govuk-!-margin-bottom-0">
                  <summary class="govuk-details__summary govuk-!-margin-top-1">
                    <span class="govuk-details__summary-text">{{ theme.short_description }}</span>
                  </summary>
                  <div class="govuk-details__text">
                    <p class="govuk-!-margin-bottom-0">This theme has the following keywords:</p>
                    <ul class="iai-inline-list govuk-!-margin-top-1">
                      {% for word in theme.keywords %}
                        <li class="iai-inline-list__item">{{ word }}</li>
                      {% endfor %}
                    </ul>
                  </div>
                </details>
              </td>
              <td class="govuk-table__cell">
                <bar-animation class="iai-bar">
                  <span class="iai-bar__value">{{ theme.answer_count }}</span>
                  {% if theme.answer_count and highest_theme_count %}
                    <span class="iai-bar__bar js-bar" style="width: {{ (theme.answer_count / highest_theme_count) * 100 }}%;"></span>
                  {% endif %}
                </bar-animation>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script>
  {% compress js %}
    <script src="{{ static('/scripts/summary-page.js') }}"></script>
  {% endcompress %}

{% endblock %}
