---
import Layout from "../../../layouts/Layout.astro";

import ConsultationDetail from "../../../components/screens/ConsultationDetail/ConsultationDetail.svelte";
import Section from "../../../components/Section/Section.svelte";
import type { AstroGlobalRuntime } from "../../../global/types";
import { checkUrlStatus, get404Response } from "../../../global/api";
import { getApiConsultationDetailUrl } from "../../../global/routes";

const { consultationId } = (Astro as unknown as AstroGlobalRuntime).params;

const urlStatus = await checkUrlStatus(
  Astro,
  getApiConsultationDetailUrl(consultationId || ""),
);

if (urlStatus === 404) {
  return get404Response();
}
---

<Layout>
  <Section>
    <ConsultationDetail client:load consultationId={consultationId || ""} />
  </Section>
</Layout>
