---
import Layout from "../../../layouts/Layout.astro";

import ConsultationDetail from "../../../components/screens/ConsultationDetail.svelte";
import Section from "../../../components/Section/Section.svelte";

const { consultationId } = Astro.params;
---
<Layout>
    <Section>
        <ConsultationDetail client:load consultationId={consultationId} />
    </Section>
</Layout>