---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.svelte';
import Title from '../components/Title.svelte';
---
<Layout>
    <Section>
        <Title level={1} text="Data Sharing" />

        <p>You'll need to sign a data sharing agreement to upload your data into the tool.</p>

        <p>If the data is anonymised we can use a version of this Memorandum of Understanding.</p>

        <p>If the data is not anonymised we will need to speak to you about a bespoke data sharing agreement.</p>
    </Section>
</Layout>