---
import { fetchBackendApi } from "../../../global/api";
import type { ConsultationResponse, Question } from "../../../global/types";

import Layout from "../../../layouts/Layout.astro";
import Section from "../../../components/Section/Section.svelte";
import Title from "../../../components/Title.svelte";
import Link from "../../../components/Link.svelte";
import {
  getApiConsultationUrl,
  getApiQuestionsUrl,
} from "../../../global/routes";
import { Routes } from "../../../global/routes";
import QuestionsReviewList from "../../../components/screens/QuestionsReviewList.svelte";

const { consultationId } = Astro.params;

const consultation = await fetchBackendApi<ConsultationResponse>(
  Astro,
  getApiConsultationUrl(consultationId),
);

const questions = await fetchBackendApi<{ results: Question[] }>(
  Astro,
  getApiQuestionsUrl(consultationId),
);
---

<Layout>
  <Section>
    <Title level={1} text={consultation.title} />
    <Link href={Routes.Consultations}>Back to your consultations</Link>

    <h2>All free text questions for review</h2>

    <QuestionsReviewList
      client:load
      consultationId={consultationId}
      questions={questions?.results || []}
    />
  </Section>
</Layout>
