{% extends "base_content_page.html" %}

{% set page_title = "Data sharing" %}

{% block content %}

<div class="govuk-width-container ">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Data sharing</h1>
      <p class="govuk-body">You'll need to sign a data sharing agreement to upload your data into the tool.</p>
      <p class="govuk-body">If the data is anonymised we can use a version of this <a class="govuk-link" href="https://docs.google.com/document/d/1uh4mVuQBEBfp_oSfzyIbsPzR3owS9PNK/edit?usp=sharing&ouid=103333141005222978195&rtpof=true&sd=true">Memorandum of Understanding</a>.</p>
      <p class="govuk-body">If the data is not anonymised we will need to speak to you about a bespoke data sharing agreement.</p>
    </div>
  </div>
</div>

{% endblock %}