{% extends "base.html" %}

{% set page_title = "How it works" %}

{% block content %}

<div class="govuk-width-container ">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">How it works</h1>
      <p class="govuk-body">How AI finds themes in the consultation and summarises them:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>For each question, free-text responses are clustered into themes using a machine learning technique called topic modelling</li>
        <li>For each theme, a large language model (LLM) is used to create a human-readable summary</li>
        <li>The tool uses an internally hosted LLM suitable for Official-Sensitive data</li>
      </ul>
      <p class="govuk-body">You can see the code on <a class="govuk-link" href="https://github.com/i-dot-ai/consultation-analyser">https://github.com/i-dot-ai/consultation-analyser</a></p>
    </div>
  </div>
</div>

{% endblock %}
