{% extends "base.html" %}

{% set page_title = "How it works" %}

{% block content %}

<div class="govuk-width-container ">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">How it works</h1>
      <p class="govuk-body">How the AI finds the themes and summarises them:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Responses to the consultation are organised by similar themes for each question.</li>
        <li>These themes generate a list of consultation themes.</li>
        <li>Individual lists of themes are combined into one list for the entire consultation.</li>
        <li>The LLM checks each response to see which theme it contains.</li>
        <li>The LLM generates a summary of the responses’ themes.</li>
      </ul>
      <p class="govuk-body">You can see the code on <a class="govuk-link" href="https://github.com/i-dot-ai/consultation-analyser">https://github.com/i-dot-ai/consultation-analyser</a></p>
    </div>
  </div>
</div>

{% endblock %}
