---
import Layout from "../../../../layouts/Layout.astro";
import Section from "../../../../components/Section/Section.svelte";

import QuestionDetail from "../../../../components/screens/QuestionDetail.svelte";
import type { AstroGlobalRuntime } from "../../../../global/types";

const { consultationId, responseId } = (Astro as unknown as AstroGlobalRuntime)
  .params;
---

<Layout>
  <Section>
    <QuestionDetail
      client:load
      consultationId={consultationId || ""}
      questionId={responseId || ""}
    />
  </Section>
</Layout>
