---
import Layout from "../../../../layouts/Layout.astro";
import Section from "../../../../components/Section/Section.svelte";

import QuestionDetail from "../../../../components/screens/QuestionDetail.svelte";

const { consultationId, responseId } = Astro.params;
---

<Layout>
  <Section>
    <QuestionDetail
      client:load
      consultationId={consultationId}
      questionId={responseId}
    />
  </Section>
</Layout>
