---
import "../styles/global.css";
import Header from "../components/Header/Header.svelte";
import Footer from "../components/Footer/Footer.svelte";
import { fetchBackendApi } from "../global/api";

let isStaff: boolean = false;
let email: string | unknown = null;

try {
  const data = await fetchBackendApi<{ is_staff: boolean; email: string }>(
    Astro,
    "/api/user/",
  );
  isStaff = data.is_staff;
  email = data.email;
  console.log(`user ${email} signed in`);
} catch {
  console.log("user not signed in");
}
---

<!doctype html>
<html lang="en" class="scroll-p-8 scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <title>Consult</title>

    <script is:inline src="/lit/index.js"></script>
  </head>
  <body>
    <div class="mx-auto flex h-full max-w-screen-3xl flex-col">
      <Header client:load isStaff={isStaff} email={email} />

      <main class="grow">
        <slot />
      </main>

      <Footer />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
