---
import Layout from './Layout.astro';
import Section from '../components/Section.svelte';
import Title from '../components/Title.svelte';
import Panel from '../components/dashboard/Panel.svelte';

const { title, description } = Astro.props;
---
<Layout>
	<Section>
        <Title level={1} text={"Design" + (title ? ` - ${title}` : "")} />

        {description &&
            <Panel bg={true} border={true}>
                <p>{description}</p>
            </Panel>
        }

        <div class="flex flex-col gap-4 mt-8">
            <slot />
        </div>
    </Section>
</Layout>