{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}
{%- from 'govuk_frontend_jinja/components/select/macro.html' import govukSelect -%}

{% set page_title = "Import respondent data for a new consultation" %}

{% block content %}
<h1 class="govuk-heading-l">{{ page_title }}</h1>
  <p class="govuk-body">Import respondents for a consultation</p>

<form method="post" enctype="multipart/form-data" novalidate>{{ csrf_input }}

  <div class="govuk-form-group">
    <p class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--l" for="consultation_name">
        Consultation name
      </label>
      <input class="govuk-input" id="consultation_name" name="consultation_name" type="text" required>
    </p>
  </div>

  <div class="govuk-form-group">
    {{ govukSelect({
      'id': "consultation_code",
      'name': "consultation_code",
      'label': {
        'text': "Select consultation folder",
      },
      'hint': {
        'text': "Data should be saved in: {{ bucket_name }}/app_data/[CONSULTATION FOLDER]"
      },
      'items': consultation_folders
    }) }}
  </div>
  {{ govukButton({
    'text': "Submit",
    'name': "submit"
  }) }}
</form>
{% endblock %}
