{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}
{%- from 'govuk_frontend_jinja/components/select/macro.html' import govukSelect -%}

{% set page_title = "Import consultation input data" %}

{% block content %}
<h1 class="govuk-heading-l">{{ page_title }}</h1>
  <p class="govuk-body">Import question and response data. This should be for a consultation where we have already imported the respondents data.</p>

<form method="post" enctype="multipart/form-data" novalidate>{{ csrf_input }}

  <div class="govuk-form-group">
    <p class="govuk-label-wrapper">
      {{ govukSelect({
        'id': "consultation_id",
        'name': "consultation_id",
        'label': {
          'text': "Select consultation"
        },
        'items': consultations_for_select
      }) }}
    </p>

    <p class="govuk-label-wrapper">

      {{ govukSelect({
        'id': "consultation_code",
        'name': "consultation_code",
        'label': {
          'text': "Select consultation folder",
        },
        'hint': {
          'text': "Consultation data should be saved in: {{ bucket_name }}/app_data/[CONSULTATION FOLDER]"
        },
        'items': consultation_folders
      }) }}
    </p>
  </div>

  {{ govukButton({
    'text': "Submit",
    'name': "submit"
  }) }}

</form>
{% endblock %}
