{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}

{% set page_title = consultation.title %}

{% block content %}
<div class="govuk-width-container ">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ page_title }}</h1>
        <p class="govuk-body">
          <a href="{{ url('review_free_text_questions', kwargs={'consultation_slug': consultation.slug}) }}" class="govuk-link govuk-body govuk-link--no-visited-state">
            View on frontend (question review)
          </a>
        </p>

        <p class="govuk-body">
          <a href="{{ url('consultation', kwargs={'consultation_slug': consultation.slug}) }}" class="govuk-link govuk-body govuk-link--no-visited-state">
            View on frontend (dashboard)
          </a>
        </p>

        <p class="govuk-body">
          <a href="{{ url('export_consultation_theme_audit', kwargs={'consultation_id': consultation.id}) }}" class="govuk-link govuk-body">
            Export theme mapping audit data for this consultation
          </a>
        </p>

        <p class="govuk-body">
          <a href="{{ url('export_urls_for_consultation', kwargs={'consultation_id': consultation.id}) }}" class="govuk-link govuk-body">
            Export respondent ID / URL mapping for this consultation
          </a>
        </p>

        <p class="govuk-body">
          <a href="{{ url('delete_consultation', kwargs={'consultation_id': consultation.id}) }}" class="govuk-link govuk-link--warning govuk-body">
            Delete this consultation
          </a>
        </p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Users</h2>
      {% if users %}
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Email</th>
            <th scope="col" class="govuk-table__header">Created at</th>
            <th scope="col" class="govuk-table__header">Can access support console</th>
            <th scope="col" class="govuk-table__header">Actions</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
        {% for user in users %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a class="govuk-link" href="/support/users/{{ user.id }}/">{{ user.email }}</a>
            </td>
            <td class="govuk-table__cell">
              {{ datetime(user.created_at) }}
            </td>
            <td class="govuk-table__cell">
              {% if user.is_staff %}
                Yes
              {% else %}
                No
              {% endif %}
            </td>
            <td class="govuk-table__cell">
              <a href="{{ url('remove_user', kwargs={'consultation_id': consultation.id, 'user_id': user.id}) }}" class="govuk-link govuk-link--warning govuk-body">
                Remove
              </a>
            </td>
          </tr>
        {% endfor %}
      </table>
      {% else %}
        <p class="govuk-body">There are no users associated with this consultation</p>
      {% endif %}

      <a href="{{ url("add_user", kwargs={"consultation_id": consultation.id}) }}" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Add users
      </a>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Questions</h2>
      {% if questions %}
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Question number</th>
            <th scope="col" class="govuk-table__header">Question text</th>
            <th scope="col" class="govuk-table__header">Actions</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
        {% for question in questions %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              {{ question.number }}
            </td>
            <td class="govuk-table__cell">
              {{ question.text }}
            </td>
            <td class="govuk-table__cell">
              <a href="{{ url('delete_question', kwargs={'consultation_id': consultation.id, 'question_id': question.id}) }}" class="govuk-link govuk-link--warning govuk-body">
                Delete this question
              </a>
            </td>
          </tr>
        {% endfor %}
      </table>
      {% else %}
        <p class="govuk-body">There are no questions associated with this consultation</p>
      {% endif %}



    </div>
  </div>




{% endblock %}
