---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section/Section.svelte";
import Error404 from "../components/screens/Error404/Error404.svelte";
---

<Layout>
  <Section narrow>
    <Error404 />
  </Section>
</Layout>
