---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section/Section.svelte";
import ErrorScreen from "../components/screens/ErrorScreen/ErrorScreen.svelte";
---

<Layout>
  <Section narrow>
    <ErrorScreen status={404} />
  </Section>
</Layout>
