---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section/Section.svelte";
import Title from "../components/Title.svelte";
import Text from "../components/Text/Text.svelte";
import Link from "../components/Link.svelte";
---

<Layout>
  <Section narrow>
    <Title level={1} context="public" text="Data Sharing" />
    <Text
      >You'll need to sign a data sharing agreement to upload your data into the
      tool.</Text
    >
    <Text
      >If the data is anonymised we can use a version of this <Link
        href="https://docs.google.com/document/d/1uh4mVuQBEBfp_oSfzyIbsPzR3owS9PNK/edit?usp=sharing&ouid=103333141005222978195&rtpof=true&sd=true"
        >Memorandum of Understanding</Link
      >.</Text
    >
    <Text
      >If the data is not anonymised we will need to speak to you about a
      bespoke data sharing agreement.</Text
    >
  </Section>
</Layout>
