---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.svelte';
import Title from '../components/Title.svelte';
---
<Layout>
    <Section>
        <Title level={1} text="How it works" />

        <p>How AI finds themes in the consultation and summarises them:</p>
        
        <ul class="list-disc pl-4">
            <li>For each question, free-text responses are clustered into themes using a machine learning technique called topic modelling</li>
            <li>For each theme, a large language model (LLM) is used to create a human-readable summary</li>
            <li>The tool uses an internally hosted LLM suitable for Official-Sensitive data</li>
        </ul>

        <p>You can see the code on <a class="text-pink-500" href="https://github.com/i-dot-ai/consultation-analyser">Github</a></p>
    </Section>
</Layout>
