---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.svelte';
import Title from '../components/Title.svelte';
---
<Layout>
	<Section>
		<Title text="Home" />
	</Section>
</Layout>
