---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section/Section.svelte';
import Title from '../components/Title.svelte';
import { getClientId } from '../global/utils';

const cookiesToDelete = ["access", "sessionId", "AWSALBAuthNonce", "__Secure-AuthSessionCookie-0", "__Secure-AuthSessionCookie-1"];

const rawCookie_Header = Astro.request.headers.get("cookie") || "";

let remainingCookies = [];
let deletedCookies = [];

for (var cookie of rawCookie_Header.split("; ")) {
    const cookieName = cookie.split("=")[0];
    if (cookiesToDelete.includes(cookieName)) {
        Astro.cookies.set(cookieName, "", {
            path: "/",
            sameSite: "lax",
            expires: new Date(0),
        });
        deletedCookies.push(cookieName);
    } else {
        remainingCookies.push(cookieName);
    }
}

console.info("deleted cookies =", deletedCookies);
console.info("remaining cookies =", remainingCookies);



const clientId = getClientId();
const signOutUrl = `https://sso.service.security.gov.uk/sign-out?from_app=${clientId}`;

return Astro.redirect(signOutUrl);
---
<Layout>
	<Section>
		<Title level={1} text="Signed out" />

        <p class="my-4 text-md text-gray-500">
            You have signed out
        </p>
	</Section>
</Layout>
