---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section/Section.svelte";
import Title from "../components/Title.svelte";
---

<Layout>
  <Section>
    <Title level={1} text="Access Denied" />
    Please contact <a href="mailto:i-dot-ai-enquiries@cabinetoffice.gov.uk">i-dot-ai-enquiries@cabinetoffice.gov.uk</a> for help.
  </Section>
</Layout>
