---
import path from 'path';
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section/Section.svelte';
import Title from '../components/Title.svelte';
import Link from '../components/Link.svelte';
import { Routes } from '../global/routes';
import { getBackendUrl } from '../global/utils';

const redirect = Astro.url.searchParams.get('redirect') || Astro.params.redirect || "/";
const backendUrl = getBackendUrl();

const internalAccessToken = Astro.request.headers.get('x-amzn-oidc-data') || process.env.TEST_INTERNAL_ACCESS_TOKEN;

let title = "You are signed-out";

if (internalAccessToken) {
  const response = await fetch(path.join(backendUrl, Routes.APIValidateToken), {
    method: "POST",
    body: JSON.stringify({internal_access_token: internalAccessToken}),
    headers: {"Content-Type": "application/json"}
  });
  
  const data = await response.json();
  
  if (data.access) {
    Astro.cookies.set("access", data.access);
    Astro.cookies.set("sessionId", data.sessionId, { path: "/", sameSite: "lax" });
    title = "You are signed in"
  }
}

---
<Layout>
	<Section>
		<Title level={1} text={title} />
      <Link href={redirect}>Continue</Link>
	</Section>
</Layout>
