---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section/Section.svelte";
import Title from "../components/Title.svelte";
import SignInForm from "../components/screens/SignInForm.svelte";
---

<Layout>
  <Section>
    <Title level={1} context="public" text="Sign in" />

    <p class="my-4 text-md text-gray-500">
      Enter your email address to generate a link to sign in
    </p>

    <SignInForm client:load />
  </Section>
</Layout>
