---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section/Section.svelte";
import Title from "../components/Title.svelte";
import StoriesDisplay from "../components/Stories/StoriesDisplay.svelte";
import type { AstroGlobalRuntime } from "../global/types";

const selected =
  (Astro as unknown as AstroGlobalRuntime).url.searchParams.get("selected") ||
  "";
---

<Layout>
  <Section>
    <Title level={1} text="Stories" />
    <StoriesDisplay client:only="svelte" selected={selected} />
  </Section>
</Layout>
