---
import Layout from "../../../../layouts/Layout.astro";

import ThemeSignoffArchive from "../../../../components/screens/ThemeSignoffArchive.svelte";
import Section from "../../../../components/Section/Section.svelte";

const { consultationId } = Astro.params;
---
<Layout>
    <Section>
        <ThemeSignoffArchive client:load consultationId={consultationId} />
    </Section>
</Layout>