---
import { fetchBackendApi } from "../../../global/api";
import type { Consultation } from "../../../global/types";

import Layout from "../../../layouts/Layout.astro";
import Section from "../../../components/Section/Section.svelte";
import { Routes } from "../../../global/routes";
import ManageConsultationsArchive from "../../../components/screens/ManageConsultationsArchive/ManageConsultationsArchive.svelte";

const data = await fetchBackendApi<{ results: Consultation[] }>(
  Astro,
  Routes.ApiConsultations,
);
const consultations = data.results;
---

<Layout>
  <Section>
    <ManageConsultationsArchive client:load consultations={consultations} />
  </Section>
</Layout>
