---
import { fetchBackendApi } from "../../../global/api";
import type {
  AstroGlobalRuntime,
  ConsultationResponse,
} from "../../../global/types";

import Layout from "../../../layouts/Layout.astro";
import Section from "../../../components/Section/Section.svelte";
import Link from "../../../components/Link.svelte";
import Title from "../../../components/Title.svelte";
import EditUser from "../../../components/screens/EditUserForm/EditUser.svelte";
import { getApiUserConsultations } from "../../../global/routes";
import { Routes } from "../../../global/routes";

const { userId } = (Astro as unknown as AstroGlobalRuntime).params;

if (!userId) {
  return (Astro as unknown as AstroGlobalRuntime).redirect(Routes.SupportUsers);
}

// Fetch all consultations to filter by this user
const consultationsData = await fetchBackendApi<ConsultationResponse[]>(
  Astro,
  getApiUserConsultations(userId),
);
---

<Layout>
  <Section>
    <!-- User Permissions -->
    <EditUser client:load userId={userId} />

    <!-- Consultations Section -->
    <div>
      <Title level={2} text="Consultations" />

      {
        consultationsData.length > 0 ? (
          <div class="overflow-x-auto">
            <table class="w-full text-left">
              <thead class="border-b font-bold">
                <tr>
                  <th class="py-3 pr-4">Consultation name</th>
                  <th class="py-3">Links</th>
                </tr>
              </thead>
              <tbody>
                {consultationsData.map((consultation) => (
                  <tr class="border-b hover:bg-gray-50">
                    <td class="py-3 pr-4">{consultation.title}</td>
                    <td class="space-y-1 py-3">
                      <div>
                        <Link
                          href={`/support/consultations/${consultation.id}`}
                        >
                          View in support
                        </Link>
                      </div>
                      <div>
                        <Link href={`/consultations/${consultation.id}`}>
                          View on frontend
                        </Link>
                      </div>
                    </td>
                  </tr>
                ))}
              </tbody>
            </table>
          </div>
        ) : (
          <p class="text-gray-600">
            This user is not associated with any consultations
          </p>
        )
      }
    </div>
  </Section>
</Layout>
