---
import Layout from "../../../layouts/Layout.astro";
import Section from "../../../components/Section/Section.svelte";
import AddUserForm from "../../../components/screens/AddUserForm/AddUserForm.svelte";
---
<Layout>
  <Section>
    <AddUserForm client:load/>
  </Section>
</Layout>
