---
import type { NavItem } from '../../../global/types';

import Link from '../../../components/Link.svelte';
import Story from "../../../layouts/Story.astro";


const links: NavItem[] = [
    {
        text: "RespondentAnswer",
        url: "/design/dashboard/respondent-answer",
    },
    {
        text: "RespondentTopbar",
        url: "/design/dashboard/respondent-topbar",
    },
    {
        text: "RespondentSidebarItem",
        url: "/design/dashboard/respondent-sidebar-item",
    },
    {
        text: "RespondentSidebar",
        url: "/design/dashboard/respondent-sidebar",
    },
];
---
<Story title="dashboard">
    <ul class="flex flex-col gap-2 mt-4">
        {links.map(link => (
            <li>
                <Link href={link.url}>
                    {link.text}
                </Link>
            </li>
        ))}
    </ul>
</Story>