{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}

{% set page_title = "Consultations" %}

{% block content %}
  <h1 class="govuk-heading-l">{{ page_title }}</h1>
  {% if consultations %}
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Consultation name</th>
          <th scope="col" class="govuk-table__header">Created at</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
      {% for consultation in consultations %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="{{ url('support_consultation', kwargs={'consultation_id': consultation.id}) }}" class="govuk-link govuk-link--no-visited-state">
              {{ consultation.title }}
            </a>
          </td>
          <td class="govuk-table__cell">
            {{ datetime(consultation.created_at) }}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p class="govuk-body">There are no consultations in the system.</p>
  {% endif %}
  <form method="post" novalidate>{{ csrf_input }}
    {% if not production_env %}
      {{ govukButton({
        'text': "Generate dummy consultation",
        'name': "generate_dummy_consultation"
      }) }}
      {{ govukButton({
        'text': "Generate giant consultation async",
        'name': "generate_giant_dummy_consultation"
      }) }}
    {% endif %}
  </form>
{% endblock %}
