{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}

{% set page_title = "Question summary" %}

{% block content %}

  <p class="govuk-heading-s">{{ consultation_name }}</p>
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Your consultations",
        "href": "/consultations",
      },
      {
        "text": "All questions",
        "href": "/consultations/" + consultation_slug
      }
    ]
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full iai-grid">

        <div class="iai-grid__start-1-span-8 iai-grid__row-1">
          <div class="iai-panel">
            <div class="govuk-!-padding-left-2 govuk-!-padding-right-2">
              <h1 class="govuk-heading-m govuk-!-font-weight-regular">
                <span class="govuk-body-s govuk-!-display-block govuk-!-font-weight-bold">Question</span>
                {{ question.text }}
              </h1>
              {% for part in question_parts %}
              <h2 class="govuk-body-s govuk-!-display-block govuk-!-font-weight-bold">
                {{ part.text }}
              </h2>
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="iai-grid__start-9-span-4 iai-grid__row-1">
          <div class="iai-panel">
            READD FILTERS
          </div>
        </div>

    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-full iai-grid">

      <div class="iai-grid__start-1-span-4">
        <div class="iai-panel">
          <div class="govuk-!-padding-left-2 govuk-!-padding-right-2">
            <h2 class="govuk-body-s govuk-!-display-block govuk-!-font-weight-bold">Question summary</h2>
            <p class="govuk-body">Showing <strong>all</strong> of <strong>{{ total_responses }} </strong> responses</p>
          </div>
          READD CLOSED QUESTIONS
        </div>
      </div>

      <div class="iai-grid__start-5-span-8">
        <div class="iai-panel">
          <div class="govuk-!-padding-left-2 govuk-!-padding-right-2">

            {% if theme_counts %}
              <table class="iai-themes-list">
                <caption class="govuk-table__caption govuk-table__caption--s">
                  <h2 class="govuk-body-s govuk-!-display-block govuk-!-font-weight-bold govuk-!-margin-bottom-2 govuk-!-margin-top-0">Prevalent themes</h2>
                </caption>
                <thead class="">
                  <tr class="iai-themes-list__header">
                    <th scope="col" class="iai-themes-list__cell iai-themes-list__cell--header iai-themes-list__cell--number">Number of respondents</th>
                    <th scope="col" class="iai-themes-list__cell iai-themes-list__cell--header iai-themes-list__cell--theme">Theme</th>
                    <th scope="col" class="govuk-visually-hidden">Detail</th>
                  </tr>
                </thead>
                <tbody class="">
                  {% for theme, count in theme_counts.items() %}

                      <tr class="iai-themes-list__item">
                        <td class="iai-themes-list__cell iai-themes-list__cell--number">
                          <span class="iai-themes-list__number">{{ count }}</span>
                            <span class="iai-themes__bar-container">
                              <span class="iai-themes__bar-bg"></span>
                              <bar-animation class="iai-bar">
                                <span class="iai-themes__bar" style="width: {{ (count / highest_theme_count) * 100 }}%;"></span>
                              </bar-animation>
                            </span>
                        </td>
                        <td class="iai-themes-list__cell iai-themes-list__cell--theme">
                          <toggle-button>
                            <button class="iai-themes-list__theme-toggle" aria-expanded="false" aria-controls="toggle{{ loop.index }}">
                              <span class="iai-themes-list__theme-text">{{ theme.name }}</span>
                              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                                <path d="M2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12Z" stroke="#C50878" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M11 8L15 12L11 16" stroke="#C50878" stroke-linecap="round" stroke-linejoin="round"/>
                              </svg>
                            </button>
                          </toggle-button>
                        </td>
                        <td class="iai-themes-list__detail" id="toggle{{ loop.index }}">
                          <span class="iai-display-flex iai-display-flex--stretch">
                            <span class="iai-themes-list__detail-container">
                              <p class="iai-themes__detail-text">{{ theme.description }}</p>
                            </span>
                          </span>
                        </td>
                      </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% else %}
              <h2 class="govuk-body-s govuk-!-display-block govuk-!-font-weight-bold govuk-!-margin-0">Prevalent themes</h2>
            {% endif %}

          </div>
        </div>
      </div>

    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script>
  {% compress js %}
    <script src="{{ static('/scripts/summary-page.js') }}"></script>
  {% endcompress %}

{% endblock %}
