{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs -%}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}

{% set page_title = "Question summary" %}



{% block content %}

  <p class="govuk-heading-m">{{ consultation_name }}</p>
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Consultations",
        "href": "/consultations",
      },
      {
        "text": "All questions",
        "href": "/consultations/" + consultation_slug
      }
    ]
  }) }}

  <div class="govuk-grid-row iai-display-flex iai-display-flex--stretch">
    <div class="govuk-grid-column-two-thirds">
      <div class="iai-panel">
        <div class="govuk-!-padding-left-2 govuk-!-padding-right-2">
          <h1 class="govuk-heading-m iai-text-400">
            <span class="govuk-body-s govuk-!-display-block">Question</span>
            {{ question.text }}
          </h1>
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="iai-panel">
        <div class="govuk-!-padding-left-2 govuk-!-padding-right-2">
          <h2 class="govuk-heading-s">Filters</h2>
          <form>

            <div class="govuk-form-group">
              <label class="govuk-label" for="theme">
                Theme
              </label>
              <select class="govuk-select" id="theme" name="theme">
                <option {% if applied_filters.theme == "All" %}selected{% endif %}>All</option>
                {% for theme in themes %}
                  <option value="{{ theme.id }}" {% if applied_filters.theme|string == theme.id|string %}selected{% endif %}>{{ theme.short_description }}</option>
                {% endfor %}
                {#<option {% if applied_filters.theme == "No theme" %}selected{% endif %}>No theme</option>#}
              </select>
            </div>

            <div class="iai-display-flex">
              {{ govukButton({
                "text": "Apply filters",
                "classes": "govuk-!-margin-bottom-0"
              }) }}
              <div class="govuk-!-padding-2">
                <a class="govuk-body-s" href="?">Clear filters</a>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="govuk-grid-row govuk-!-margin-top-6 iai-display-flex iai-display-flex--stretch">
    <div class="govuk-grid-column-one-third">
      <div class="iai-panel">
        <div class="govuk-!-padding-left-2 govuk-!-padding-right-2">
          <h2 class="govuk-heading-s">Question summary</h2>
          <p class="govuk-body">Showing <strong>all</strong> of <strong>{{ total_responses }} </strong> responses</p>
        </div>

        {% if multiple_choice_stats %}
          {% for multiple_choice in multiple_choice_stats %}
            {% if not multiple_choice.has_multiple_selections %}
              <donut-chart>
                {% for option in multiple_choice.counts.keys() %}
                  <chart-item data-label="{{ option }}" data-count="{{ multiple_choice.percentages[option] }}"></chart-item>
                {% endfor %}
              </donut-chart>
            {% endif %}
            <div class="govuk-!-padding-left-2 govuk-!-padding-right-2">
              <dl class="govuk-summary-list iai-chart-text">
                {% for response in responses %}
                  {% for option in multiple_choice.counts.keys() %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        {{ option }}
                      </dt>
                      <dd class="govuk-summary-list__value">
                        {{ multiple_choice.counts[option] }}
                      </dd>
                      {% if not multiple_choice.has_multiple_selections %}
                        <dd class="govuk-summary-list__value">
                          {{ multiple_choice.percentages()[option] }}%
                        </dd>
                      {% endif %}
                    </div>
                  {% endfor %}
                {% endfor %}
              </dl>
            </div>
          {% endif %}
      </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--s">
          <h2 class="govuk-!-margin-bottom-2 govuk-!-margin-top-0">Prevalent themes</h2>
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Theme</th>
            <th scope="col" class="govuk-table__header">Number of respondents</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for theme in themes %}
            {% if not theme.is_outlier %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <details class="govuk-details govuk-!-margin-bottom-0">
                    <summary class="govuk-details__summary govuk-!-margin-top-1">
                      <span class="govuk-details__summary-text">{{ theme.short_description }}</span>
                    </summary>
                    <div class="govuk-details__text">
                      <p class="govuk-!-margin-bottom-0">{{ theme.summary }}</p>
                      <br>
                      <p class="govuk-!-margin-bottom-0">This theme has the following keywords:</p>
                      <ul class="iai-inline-list govuk-!-margin-top-1">
                        {% for word in theme.topic_keywords %}
                          <li class="iai-inline-list__item">{{ word }}</li>
                        {% endfor %}
                      </ul>
                    </div>
                    <p class="govuk-body"><a class="govuk-link" href="{{ url("question_responses", kwargs={"consultation_slug":
                        consultation_slug, "question_slug" : question.slug, "section_slug" : question.section.slug},
                        query_kwargs={"theme": theme.id}) }}">View responses</a></p>
                  </details>
                </td>
                <td class="govuk-table__cell">
                  <bar-animation class="iai-bar">
                    <span class="iai-bar__value">{{ theme.answer_count }}</span>
                    {% if theme.answer_count and highest_theme_count %}
                      <span class="iai-bar__bar js-bar" style="width: {{ (theme.answer_count / highest_theme_count) * 100 }}%;"></span>
                    {% endif %}
                  </bar-animation>
                </td>
              </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
      {% if blank_free_text_count and question.has_free_text %}
        {% if blank_free_text_count == 1 %}
          <p class="govuk-body">There is {{ blank_free_text_count }} response with no free text and this has been excluded from the theme analysis.</p>
        {% else %}
          <p class="govuk-body">There are {{ blank_free_text_count }} responses with no free text, and these have been excluded from the theme analysis.</p>
        {% endif %}
      {% endif %}
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script>
  {% compress js %}
    <script src="{{ static('/scripts/summary-page.js') }}"></script>
  {% endcompress %}

{% endblock %}
