---
import Layout from "../../../../layouts/Layout.astro";

import RespondentDetail from "../../../../components/screens/RespondentDetail.svelte";
import Section from "../../../../components/Section/Section.svelte";
import type { AstroGlobalRuntime } from "../../../../global/types";

const { consultationId, respondentId } = (
  Astro as unknown as AstroGlobalRuntime
).params;
const themefinderId = (
  Astro as unknown as AstroGlobalRuntime
).url.searchParams.get("themefinder_id");
const questionId = (
  Astro as unknown as AstroGlobalRuntime
).url.searchParams.get("question_id");

function parseThemefinderId(themefinderId: string | null): number {
  const parsedId = parseInt(themefinderId || "");
  return Number.isInteger(parsedId) ? parsedId : -1;
}
---

<Layout>
  <Section>
    <RespondentDetail
      client:load
      consultationId={consultationId || ""}
      questionId={questionId || ""}
      respondentId={respondentId || ""}
      themefinderId={parseThemefinderId(themefinderId)}
    />
  </Section>
</Layout>
