---
import { fetchBackendApi } from "../../global/api";
import { formatDate } from "../../global/utils";
import type { User } from "../../global/types";

import Layout from "../../layouts/Layout.astro";
import Section from "../../components/Section/Section.svelte";
import Title from "../../components/Title.svelte";
import Button from "../../components/inputs/Button/Button.svelte";
import Link from "../../components/Link.svelte";

const data = await fetchBackendApi<{ results: User[]}>(Astro, "/api/users/");
const users = data.results;

---

<Layout>
  <Section>
    <Title level={1} text="Users" />
    <div class="my-4">
        <Button href="/support/users/new" variant="primary">Add a new user</Button>
    </div>
    <div class="overflow-x-auto">
      <table class="w-full text-left whitespace-nowrap">
        <thead class="font-bold">
          <tr>
            <th class="py-2 pr-2">Email</th>
            <th class="py-2 pr-2">Created at</th>
            <th class="py-2 pr-2">Can access support console</th>
            <th class="py-2">Can access dashboards</th>
          </tr>
        </thead>
        <tbody>
          {
            users.map((user) => (
              <tr class="border-t hover:bg-gray-50">
                <td class="py-2 pr-2">
                  <Link href={`/support/users/${user.id}`}>{user.email}</Link>
                </td>
                <td class="py-2 pr-2">{formatDate(user.created_at)}</td>
                <td class="py-2 pr-2">{user.is_staff ? "Yes" : "No"}</td>
                <td class="py-2">{user.has_dashboard_access ? "Yes" : "No"}</td>
              </tr>
            ))
          }
        </tbody>
      </table>
    </div>
  </Section>
</Layout>
