---
import Layout from "../../../../layouts/Layout.astro";
import Section from "../../../../components/Section.svelte";
import Title from "../../../../components/Title.svelte";

const { response } = Astro.params;
---
<Layout>
    <Section>
        <Title level={1} text={response} />

        <iai-question-detail-page></iai-question-detail-page>
    </Section>
</Layout>
