---
import Layout from "../../../../layouts/Layout.astro";
import Section from "../../../../components/Section/Section.svelte";
import Text from "../../../../components/Text/Text.svelte";
import Title from "../../../../components/Title.svelte";
import ExportConsultationForm from "../../../../components/screens/ExportConsultationForm.svelte";
import { fetchBackendApi } from "../../../../global/api";
import type {
  AstroGlobalRuntime,
  ConsultationResponse,
  Question,
} from "../../../../global/types";
import {
  getApiConsultationUrl,
  getApiQuestionsUrl,
  Routes,
} from "../../../../global/routes";

const { consultationId } = (Astro as unknown as AstroGlobalRuntime).params;

if (!consultationId) {
  return (Astro as unknown as AstroGlobalRuntime).redirect(
    Routes.SupportConsultations,
  );
}

let consultation = await fetchBackendApi<ConsultationResponse>(
  Astro,
  getApiConsultationUrl(consultationId),
);

let questions = (
  await fetchBackendApi<{ results: Question[] }>(
    Astro,
    getApiQuestionsUrl(consultationId),
  )
).results;

const env = process.env?.ENVIRONMENT;
const bucketName = process.env?.AWS_BUCKET_NAME;
---

<Layout>
  <Section>
    <Title level={1} text={consultation.title} />
    <Text>Which questions do you want to download data for?</Text>
    <ExportConsultationForm
      client:load
      questions={questions}
      env={env}
      bucketName={bucketName}
    />
  </Section>
</Layout>
