{% extends "layouts/main.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageName="Home" %}

{% block beforeMain %}
  {{ govukBackLink({
    text: "Back to all questions",
    href: "/"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-m">Showing <strong>all</strong> of <strong>27,921</strong> responses</span>
    <h1 class="govuk-heading-l">Question summary</h1>
    <p>{{data.questions[0]}}</p>
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Agree"
          },
          value: {
            text: "63%"
          }
        },
        {
          key: {
            text: "Disagree"
          },
          value: {
            text: "33%"
          }
        },
        {
          key: {
            text: "Not sure"
          },
          value: {
            text: "3%"
          }
        }
      ],
      classes: "govuk-!-margin-bottom-4"
    }) }}

    <a href="/question-responses?question-index={{data['question-index']}}&keyword=&theme=all&opinion=all&location=all&age=all&capacity=all">View detailed responses &#8250;</a>

  </div>
  <div class="govuk-grid-column-one-third">
    <canvas data-yes="63" data-no="31" data-labels="true"></canvas>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-5 govuk-!-padding-top-3">

  <div class="govuk-grid-column-one-third">
    <div class="iai-filters govuk-!-margin-bottom-5">
      <h2 class="govuk-heading-m">Filters</h2>
      <form>

        {{ govukSelect({
          id: "filter-theme",
          name: "theme",
          label: {
            text: "Theme"
          },
          items: [
            {
              value: "all",
              text: "All",
              selected: true
            },
            {
              value: "theme1",
              text: "Theme 1"
            },
            {
              value: "theme2",
              text: "Theme 2"
            },
            {
              value: "theme3",
              text: "Theme 3"
            }
          ]
        }) }}

        {{ govukSelect({
          id: "filter-opinion",
          name: "opinion",
          label: {
            text: "Opinion"
          },
          items: [
            {
              value: "all",
              text: "All",
              selected: true
            },
            {
              value: "agree",
              text: "Agree"
            },
            {
              value: "disagree",
              text: "Disagree"
            },
            {
              value: "not-sure",
              text: "Not sure"
            }
          ]
        }) }}

        {{ govukSelect({
          id: "filter-location",
          name: "location",
          label: {
            text: "Location"
          },
          items: [
            {
              value: "all",
              text: "All",
              selected: true
            },
            {
              value: "england",
              text: "England"
            },
            {
              value: "scotland",
              text: "Scotland"
            },
            {
              value: "wales",
              text: "Wales"
            },
            {
              value: "northern-ireland",
              text: "Northern Ireland"
            }
          ]
        }) }}

        {{ govukSelect({
          id: "filter-age",
          name: "age",
          label: {
            text: "Age group"
          },
          items: [
            {
              value: "all",
              text: "All",
              selected: true
            },
            {
              value: "13-14",
              text: "13 - 14"
            },
            {
              value: "15-17",
              text: "15 - 17"
            },
            {
              value: "18-24",
              text: "18 - 24"
            },
            {
              value: "25-34",
              text: "25 - 34"
            },
            {
              value: "35-44",
              text: "35 - 44"
            },
            {
              value: "45-54",
              text: "45 - 54"
            },
            {
              value: "55-64",
              text: "55 - 64"
            },
            {
              value: "65-74",
              text: "65 - 74"
            },
            {
              value: "75plus",
              text: "75 or above"
            },
            {
              value: "unknown",
              text: "Prefer not to say"
            }
          ]
        }) }}

        {{ govukSelect({
          id: "filter-capacity",
          name: "capacity",
          label: {
            text: "Capacity"
          },
          items: [
            {
              value: "all",
              text: "All",
              selected: true
            },
            {
              value: "personal",
              text: "Personal"
            },
            {
              value: "professional",
              text: "Professional"
            },
            {
              value: "organisation",
              text: "Organisation"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Apply filters",
          classes: "govuk-!-margin-bottom-1"
        }) }}
      </form>
    </div>
  </div>

  <div class="govuk-grid-column-two-thirds">
    {#<h2 class="govuk-heading-m">Prevalent themes</h2>#}
    {#<canvas id="prevalent-themes"></canvas>#}
    
    {% set themes = [
      {"theme": "Preventing related illnesses starts now", value: 671},
      {"theme": "... is becoming increasingly popular among young people who perceive it as a safer alternative.", value: 443},
      {"theme": "Strong public opposition to change in sale ages", value: 163},
      {"theme": "Limit children's access to products", value: 136},
      {"theme": "Legalise ban on products for current and future generations", value: 127},
      {"theme": "Age of sale for products should be changed to eradicate ...", value: 112},
      {"theme": "It is harmful and should not be legally sold to anyone born after 1 January 2009", value: 105},
      {"theme": "... and ... both need to be completely unavailable", value: 91},
      {"theme": "Protect future generations from the harmful effects", value: 84},
      {"theme": "The majority of respondents support raising the legal age of sale for products to 18 years old in the UK, believing it will help reduce peer pressure among young people", value: 81}
    ] %}

    {% set highestCount = themes[0].value %}

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--s">
        <h2 class="govuk-!-margin-bottom-2 govuk-!-margin-top-0">Prevalent themes</h2>
      </caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Theme</th>
          <th scope="col" class="govuk-table__header">Number of respondents</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for item in themes %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <details class="govuk-details govuk-!-margin-bottom-0">
                <summary class="govuk-details__summary govuk-!-margin-top-1">
                  <span class="govuk-details__summary-text">{{item.theme}}</span>
                </summary>
                <div class="govuk-details__text">
                  <p>The key argument expressed in the responses is that smoking is a major health issue in the UK and that strict measures need to be implemented to reduce its impact. Many respondents support the idea of raising the age of sale for tobacco products, with some seeing it as a way to 'Level Up' and reduce the burden on the NHS. The cost of smoking-related illnesses is also highlighted as a significant factor in the argument for stricter regulations.</p>
                  <p>This theme has the following keywords:</p>
                  <ul class="iai-inline-list">
                    <li>nhs</li>
                    <li>cost</li>
                    <li>related</li>
                    <li>money</li>
                    <li>costs</li>
                    <li>smoking</li>
                    <li>health</li>
                    <li>uk</li>
                    <li>impact</li>
                    <li>illnesses</li>
                  </ul>
                  <p>Example responses from this theme:</p>
                  <ol>
                    <li>"Smoking well recognised to be major impact on health, rates already falling, makes sense to go the next step. Will have great indirect benefits for healthcare also. Good protection against passive smoking, especially for children of parents who smoke."</li>
                    <li>"I believe that the risks and ongoing NHS costs to the country outweigh the freedom of choice to start smoking"</li>
                    <li>"The health, financial, and social implications of smoking are well documented and action is urgently needed to tackle the health of the nation. The NHS is under such strain, if we could reduce the number of smoking related health diseases it would have a big impact on resources. I believe we have a duty to protect future generations and especially young children from exposure to smoke."</li>
                  </ol>
                </div>
              </details>
            </td>
            <td class="govuk-table__cell">
              <span class="iai-bar">
                <span class="iai-bar__value">{{item.value}}</span>
                <span class="iai-bar__bar js-bar" style="width: {{(item.value / highestCount) * 100}}%;"></span>
              </span>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    
  </div>

</div>

{% endblock %}
