{% extends "layouts/main.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageName="Home" %}

{% block beforeMain %}
  {{ govukBackLink({
    text: "Back to all questions",
    href: "/"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Responses to question:</h1>
    <p>{{data.questions[0]}}</p>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-4">
  <div class="govuk-grid-column-one-third">
    <div class="iai-filters govuk-!-margin-bottom-5">
      <h2 class="govuk-heading-m">Filters</h2>
      <form>

        <div class="govuk-form-group">
          <label class="govuk-label" for="event-name">Keyword search</label>
          <input class="govuk-input govuk-input--width-10" id="keyword" name="keyword" type="text" value="{{data.keyword}}">
        </div>

        {{ govukSelect({
          id: "filter-theme",
          name: "theme",
          label: {
            text: "Theme"
          },
          items: [
            {
              value: "all",
              text: "All",
              selected: true
            },
            {
              value: "theme1",
              text: "Theme 1"
            },
            {
              value: "theme2",
              text: "Theme 2"
            },
            {
              value: "theme3",
              text: "Theme 3"
            }
          ]
        }) }}

        {{ govukSelect({
          id: "filter-opinion",
          name: "opinion",
          label: {
            text: "Opinion"
          },
          items: [
            {
              value: "all",
              text: "All",
              selected: true
            },
            {
              value: "agree",
              text: "Agree"
            },
            {
              value: "disagree",
              text: "Disagree"
            },
            {
              value: "not-sure",
              text: "Not sure"
            }
          ]
        }) }}

        {{ govukSelect({
          id: "filter-location",
          name: "location",
          label: {
            text: "Location"
          },
          items: [
            {
              value: "all",
              text: "All",
              selected: true
            },
            {
              value: "england",
              text: "England"
            },
            {
              value: "scotland",
              text: "Scotland"
            },
            {
              value: "wales",
              text: "Wales"
            },
            {
              value: "northern-ireland",
              text: "Northern Ireland"
            }
          ]
        }) }}

        {{ govukSelect({
          id: "filter-age",
          name: "age",
          label: {
            text: "Age group"
          },
          items: [
            {
              value: "all",
              text: "All",
              selected: true
            },
            {
              value: "13-14",
              text: "13 - 14"
            },
            {
              value: "15-17",
              text: "15 - 17"
            },
            {
              value: "18-24",
              text: "18 - 24"
            },
            {
              value: "25-34",
              text: "25 - 34"
            },
            {
              value: "35-44",
              text: "35 - 44"
            },
            {
              value: "45-54",
              text: "45 - 54"
            },
            {
              value: "55-64",
              text: "55 - 64"
            },
            {
              value: "65-74",
              text: "65 - 74"
            },
            {
              value: "75plus",
              text: "75 or above"
            },
            {
              value: "unknown",
              text: "Prefer not to say"
            }
          ]
        }) }}

        {{ govukSelect({
          id: "filter-capacity",
          name: "capacity",
          label: {
            text: "Capacity"
          },
          items: [
            {
              value: "all",
              text: "All",
              selected: true
            },
            {
              value: "personal",
              text: "Personal"
            },
            {
              value: "professional",
              text: "Professional"
            },
            {
              value: "organisation",
              text: "Organisation"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Apply filters",
          classes: "govuk-!-margin-bottom-1"
        }) }}
      </form>
    </div>
  </div>
  <div class="govuk-grid-column-two-thirds">

    {% set filteredResponses = data.questions|filter(data.keyword) %}
    
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">
        Responses
        {% set responseCountText = filteredResponses.length %}
        {% if responseCountText == data.questions.length %}
          {% set responseCountText = "all" %}
        {% endif %}
        <span class="iai-table-subhead govuk-!-margin-top-1">(Showing <strong>{{responseCountText}}</strong> of <strong>{{data.questions.length}}</strong> responses)</span>
      </caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Closed response</th>
          <th scope="col" class="govuk-table__header">Open response</th>
          <th scope="col" class="govuk-table__header" style="width: 9rem;">Actions</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

        {% for response in filteredResponses %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Agree</td>
            <td class="govuk-table__cell">{{response}}</td>
            <td class="govuk-table__cell">
              <a href="/respondent">View respondent</a>
              {#
              {{ govukButton({
                text: "View respondent",
                classes: "govuk-button--secondary",
                href: "/respondent"
              }) }}
              #}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {{ govukPagination({
      previous: {
        href: "#"
      },
      next: {
        href: "#"
      },
      items: [
        {
          number: 1,
          href: "#"
        },
        {
          number: 2,
          current: true,
          href: "#"
        },
        {
          number: 3,
          href: "#"
        }
      ]
    }) }}
  </div>
</div>

{% endblock %}
