{% extends "layouts/main.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageName="Home" %}

{% block beforeMain %}
  {{ govukBackLink({
    text: "Back to question",
    href: "/question-responses"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">Respondent A</h1>

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Age group"
          },
          value: {
            text: "30 - 40"
          }
        },
        {
          key: {
            text: "Location"
          },
          value: {
            text: "London"
          }
        },
        {
          key: {
            text: "Capacity"
          },
          value: {
            text: "..."
          }
        }
      ]
    }) }}

  </div>
</div>

{% endblock %}
