{% extends "layouts/main.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}Respondent A{% endblock %}

{% block beforeMain %}
  {{ govukBackLink({
    text: "Back to question",
    href: "/question-responses"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">Respondent A</h1>

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Location"
          },
          value: {
            text: "England"
          }
        },
        {
          key: {
            text: "Age group"
          },
          value: {
            text: "35 - 44"
          }
        },
        {
          key: {
            text: "Capacity"
          },
          value: {
            text: "Personal"
          }
        }
      ]
    }) }}

    <h2 class="govuk-heading-m">Responses</h2>
    <ul class="iai-questions govuk-!-padding-0">
      {% for question in data.questions %}
        <li class="iai-questions__item govuk-!-margin-top-3">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-3">{{question}}</h3>
          <p class="govuk-!-margin-bottom-1">The respondent's answer will be displayed here. Both the closed response and the open response.</p>
        </li>
      {% endfor %}
    </ul>

  </div>
</div>

{% endblock %}
