{% extends "layouts/main.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set pageTitle = "Sign in - confirmation" %}

{% block content %}

<div class="govuk-width-container ">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Sign in - confirmation</h1>
      <p>If you have previously registered, please check your emails for a link to sign in</p>
      <p>If you haven't yet registered, please <a href="https://www.smartsurvey.co.uk/s/consultation-interest/">register your interest</a>.</p>
    </div>
  </div>
</div>

{% endblock %}
