{% extends "layouts/main.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = "Sign in" %}

{% block content %}

<div class="govuk-width-container ">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Sign in</h1>
      <form action="/sign-in-confirmation">

        <div class="govuk-form-group">
          <label class="govuk-label" for="email">
            Email address
          </label>
          <div id="email-hint" class="govuk-hint">
            Enter your email address to generate a link to sign in
          </div>
          <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email" required>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
      <p>If you would like access please <a href="https://www.smartsurvey.co.uk/s/consultation-interest/">register your interest</a>.</p>
    </div>
  </div>
</div>

{% endblock %}
