name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:


jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Set up Docker Compose
        run: |
          docker compose version

      - name: Copy environment file
        run: |
          cp .env.example .env
          cp .env.test .env.test.bak
          sed 's/@postgres:/@localhost:/g' .env.test.bak > .env.test

      - name: Start services with docker compose
        run: |
          docker compose up -d postgres redis
          docker compose exec -T postgres pg_isready -U consultations_test || (sleep 5 && docker compose exec -T postgres pg_isready -U consultations_test) || (sleep 10 && docker compose exec -T postgres pg_isready -U consultations_test)

      - name: install poetry & deps
        run: |
          python -m pip install --upgrade poetry
          poetry install --with development

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 18

      - name: Install npm dependencies
        run: npm install

      - name: Setup app
        run: |
          poetry run python manage.py migrate
          poetry run python manage.py makemigrations --check
          make govuk_frontend
        env:
          DATABASE_URL: postgresql://consultations_test:consultations_test@localhost:5432/consultation_analyser

      - name: Run app tests
        run: poetry run pytest
        env:
          DATABASE_URL: postgresql://consultations_test:consultations_test@localhost:5432/consultation_analyser

      - name: Run tests for migrations
        run: make test-migrations
        env:
          DATABASE_URL: postgresql://consultations_test:consultations_test@localhost:5432/consultation_analyser
